[2014-02-22 17:54] wbprice opened #1 "Create an algorithm that sorts restaurants"
Create an algorithm that ranks a list of local restaurants taking into account:
- number of violations (ever) and what happened.
- number of violations (within a specific time frame)
- severity of violation
- ding restaurants that fail a follow up inspection

[2014-02-22 18:04] wbprice opened #2 "Create a view that lists restaurants according to the algorithm."

[2014-02-22 18:04] wbprice opened #3 "Create a view that ranks restaurants by proximity."

[2014-02-22 18:05] wbprice commented on #3
Should have option of viewing by map or by list.

[2014-02-22 18:13] wbprice opened #4 "Create a way to store favorite restaurants."

[2014-02-22 21:02] qwo opened #9 "give me a cool name"
inspectva.org
inspectus.org

[2014-02-24 15:00] wbprice opened #12 "Create a scheme to organize CSS for different breakpoints."
Probably going to put these in different stylesheets, and then concatenate/minify for live site.

[2014-02-24 16:24] ttavenner commented on #9
whatseat

[2014-02-24 16:25] jalbertbowden commented on #9
eat.me

On Mon, Feb 24, 2014 at 11:24 AM, ttavenner notifications@github.comwrote:

##

J. Albert Bowden II

jalbertbowden@gmail.com

http://bowdenweb.com/

[2014-02-24 16:26] wbprice opened #13 "Implement Grunt"
How comfortable is everyone with Grunt and Node?  Don't want to make it too hard to contribute to this if I can avoid it.

[2014-02-24 16:30] qwo commented on #9
valives
http://www.yelp.com/healthscores

[2014-02-24 16:37] jalbertbowden commented on #13
i'm not up to speed on grunt, but if its necessary, its necessary.
why is it needed?

On Mon, Feb 24, 2014 at 11:26 AM, William Blaine Price <
notifications@github.com> wrote:

##

J. Albert Bowden II

jalbertbowden@gmail.com

http://bowdenweb.com/

[2014-02-24 16:40] wbprice commented on #13
There are a lot of tasks that can help us optimize performance when we deploy (css/js concatenation/minification, lossless image optimization, etc).  Angular and Bootstrap are being delivered by CDN in minified state, this would handle the rest of it.

[2014-02-24 16:41] BretFisher commented on #13
I'm good with Grunt, so just document the config file inline.  I think Node
is easier for us to deal with cross platform then just about any other web
platform out there (ruby, python, c#, java, go, etc.), so I'm a fan :)

On Mon, Feb 24, 2014 at 11:37 AM, albert notifications@github.com wrote:

[2014-02-24 16:52] wbprice commented on #13
Chris Coyier has a great article on Grunt here: http://24ways.org/2013/grunt-is-not-weird-and-hard/ and I'd be happy to run the 15-20 minute Grunt workshop as needed.

[2014-02-24 17:31] jalbertbowden commented on #13
lol....i'm aware of its purposes. grunts creator and i talk ever so often.
i was asking specifically but i guess that's the same thing

On Mon, Feb 24, 2014 at 11:52 AM, William Blaine Price <
notifications@github.com> wrote:

##

J. Albert Bowden II

jalbertbowden@gmail.com

http://bowdenweb.com/

[2014-02-24 18:11] wbprice opened #14 "Complete wireframe"
working with @cosmicmeow to get the various views roughed out.

[2014-02-24 19:28] wbprice commented on #13
It looks like there are some issues with minification and Angular's dependency injection (nothing that can't be worked around, http://docs.angularjs.org/tutorial/step_05) but we'll want to keep it in mind if we implement grunt.

[2014-02-24 22:47] wbprice commented on #9
- eatsafe.com
- safe-eats.com

[2014-02-24 22:49] jalbertbowden commented on #13
so you're using angular...
not worried about seo?
showing content if js fails/is not available?

On Monday, February 24, 2014, William Blaine Price notifications@github.com
wrote:

##

J. Albert Bowden II

jalbertbowden@gmail.com

http://bowdenweb.com/

[2014-02-24 23:01] wbprice commented on #13
Open source provides: [grunt-html-snapshot](https://github.com/cburgdorf/grunt-html-snapshot).
Per [this article](http://www.ng-newsletter.com/posts/serious-angular-seo.html), should handle the SEO issue.  As for people who have javascript disabled... dunno.  We'd have to figure out a fallback.  At the very least, could generate a list of the worst local offenders daily and serve that as a static

[2014-02-24 23:11] jalbertbowden commented on #13
those may not even b issues, just spitballing thoughts.
if you are only using js, and its off, you cant render anything...need
another lang

again could not be a issue

On Monday, February 24, 2014, William Blaine Price notifications@github.com
wrote:

##

J. Albert Bowden II

jalbertbowden@gmail.com

http://bowdenweb.com/

[2014-02-25 00:09] kmcurry commented on #9
Define my purpose.

On Mon, Feb 24, 2014 at 5:47 PM, William Blaine Price <
notifications@github.com> wrote:

##

Kevin Curry
757-613-8158
Advisor, Code for America
http://brigade.codeforamerica.org

CodeAcross HRVA February 21 & 22:
http://www.codeforhamptonroads.org/codeacross

[2014-02-25 04:45] wbprice commented on #12
Files in stylesheets named for bootstrap breakpoints, concatenated and minified in grunt.

[2014-02-25 04:45] #12 closed, assigned to wbprice

[2014-02-25 12:33] wbprice commented on #9
Super negative but...
- redflagspecial.com
- healthcodebreakers.com
  We should celebrate restaurants that do well instead of dumping on gross places.

[2014-02-25 14:41] wbprice commented on #9
A more creative mind than mine came up with these.
- EatHereNotThere
- Rate My Restaurant
- Health Inspector Detector
- Get the Dirty on your Dining
- (Dining) Dirty Secrets
- Secret Diner

[2014-02-25 15:02] jalbertbowden commented on #9
eternal.five.second.ru.le

On Tue, Feb 25, 2014 at 9:41 AM, William Blaine Price <
notifications@github.com> wrote:

##

J. Albert Bowden II

jalbertbowden@gmail.com

http://bowdenweb.com/

[2014-02-25 15:08] qwo commented on #9
localdishing.com
dishOnDishes
vaplates.com/org

[2014-02-25 15:36] wbprice commented on #9
- opendishesva.com
- cleandishesva.com

[2014-02-25 15:56] kmcurry commented on #9
IDontHaveAPurposeYetSoICantKnowMyName.com

PlusWeDontNeedToKeepShellingOutDollarsForCleverDomainNames.com

On Tue, Feb 25, 2014 at 10:36 AM, William Blaine Price <
notifications@github.com> wrote:

##

Kevin Curry
757-613-8158
Advisor, Code for America
http://brigade.codeforamerica.org

CodeAcross HRVA February 21 & 22:
http://www.codeforhamptonroads.org/codeacross

[2014-02-25 16:06] kmcurry commented on #9
eternal.five.second.ru.le is hilarious though

[2014-02-25 16:43] wbprice opened #16 "Define the purpose/goals of the app."

[2014-02-25 16:45] wbprice commented on #16
moved from another thread: @mullerj
Problem:
I want to find out if a restaurant is safe

• See restaurants that are close by
• See quick view of health safety of a restaurant
• See restaurants by cuisine
• Search for a specific restaurant
• See inspection/violation details for a restaurant

[2014-02-25 17:05] BretFisher commented on #9
food.codeforhamptonroads.org
resturants.codeforhamptonroads.org

more importantly:
openinspectionapi.codeforhamptonroads.org

rememeber we have the c4hrva.us domain too.

On Tue, Feb 25, 2014 at 11:06 AM, Kevin Curry notifications@github.comwrote:

[2014-02-25 17:22] qwo commented on #9
yum.c4hrva.us
clever.domains.are.fun.us

[2014-02-25 17:31] qwo commented on #16
a lot of the traction is going towards a consumer based app, but I think also exposing the data and exposing easy points for businesses & Virginia health to keep up with would be useful

from a business perspective.
-Be able to keep up with their own businesses
-Make sure their restaurants are correctly depicted

Health department
- Allow them to see which restaurant is coming due
- Allow them to

[2014-02-25 21:32] wbprice commented on #14
@cosmicmeow List view and map view are really the same view, so one less thing to mock up.  Restaurant view is similar to list/map view, but displays different information?

[2014-02-26 03:50] jalbertbowden commented on #9
yes.they.are

tried to get homes.com to buy hom.es when it was available, but what do i know ;)
kevin's have me laughing...but i'm totally with bret here. basic. subdomain...or appended root. whatever. i'd so go major generic, but i think there are states using different formats right? not LIVES, but how they gather/consume the data. thats why we don't have scores, right?

[2014-02-26 04:19] BretFisher commented on #9
As I understand it: other then LIVES there is no standard. every city,
county, state is different, some score, some don't, hence the CfA + SF +
NYC + Yelp = LIVES effort

On Tue, Feb 25, 2014 at 10:50 PM, albert notifications@github.com wrote:

[2014-02-26 05:17] jalbertbowden commented on #9
no.one.gets.out.a.lives

[2014-02-26 23:31] kmcurry opened #17 "Handle "Mobile Vendor" in scraper"
@stanzheng found an exception to cities called "Mobile Vendor". @bschoenfeld said the scraper will need to be updated to handle the exception.

[2014-02-27 00:29] bschoenfeld commented on #17
Moved to c4hrva/open-health-inspection-scraper#4

[2014-02-27 00:29] #17 closed, assigned to bschoenfeld

[2014-03-03 13:09] wbprice opened #21 "Google Maps Integration"
http://angular-google-maps.org/

[2014-03-06 13:36] wbprice opened #23 "JSON files from database break Angular"
The first couple of lines in the JSON for a given restuarant include something like:

"_id" : ObjectId("530907537d95393b690c216d"),

Looks like this is a function in a JSON, which doesn't validate.   Deleting this line causes everything to work again.  Not an ideal solution because this line serves as a good unique ID.  Find some way to sanitize this input in API or in front-end?

[2014-03-06 15:08] ttavenner opened #24 "API for data source"
If I recall correctly someone started working on an API at Code Across. @wbprice and I were talking about this last night. Have we heard from that person or is this still needed? If it is still needed I'm willing to take it on as a project. Should be pretty simple to implement.

[2014-03-06 15:09] ttavenner commented on #24
Sorry Just noticed the API now has its own repository. Great minds, etc.

[2014-03-06 15:09] #24 closed, assigned to nobody

[2014-03-06 15:47] BretFisher commented on #23
that's mongodb standard document ID that gets added on insert. It should stay there for proper db function.

[2014-03-06 16:08] wbprice commented on #23
Is this something that should be filtered out by the API when it serves JSON to the front-end?

[2014-03-06 19:00] ttavenner commented on #23
These will be the ids you will reference for requesting specific documents. They shouldn't be served to the end user though.

[2014-03-06 19:02] ttavenner commented on #23
For the API, the frontend should pass these as strings which will be converted by the API to objectids for the purposes of interfacing with Mongo.

[2014-03-06 19:04] ttavenner commented on #23
At least that's what I think right now while the API is purely a pipe dream.

[2014-03-06 19:29] wbprice commented on #23
Sounds good.  I want to keep what I'm doing right now somewhat grounded in reality, so I'll just assume that I'm working with strings for the time being.

[2014-03-07 01:03] #13 closed, assigned to nobody

[2014-03-08 13:32] ttavenner commented on #21
Do you have an API key you are using for this? I'm testing some stuff on the Python side and it would make sense to use the same key throughout the app.

[2014-03-08 14:04] wbprice commented on #21
Not yet. I've been working on getting the views up to snuff. If you get an API key for the Maps API, post it somewhere.

[2014-03-08 17:56] ttavenner commented on #21
It looks like in V3, Google really split out their APIs. Now the key is connected to your personal Google account (like everything else in the universe) rather than a domain. Also, the Geocoding API is separate from the Maps Geolocation API, which in turn is separate from the Maps Javascript API. There are probably a half dozen other APIs. I turned on the Geocoding, which I want and the Geolocatio

[2014-03-08 18:04] ttavenner commented on #21
Better yet, you can organize your API access into projects, so I can just add you to the team in Google, if you've got an email address you'd like to use.

[2014-03-08 18:06] wbprice commented on #21
Cool. I'm at 1wbprice@gmail.com.

[2014-03-08 20:26] ttavenner commented on #21
I think with a little reconfiguring we can geocode restaurant addresses and store lat/long in the database as part of the ETL process. This should enable us to implement geolocation services such as "restaurants near me", etc with a much smaller number of Google API calls. We might even be able to offer these as a method of the API.

[2014-03-11 14:45] CNick commented on #9
healthcoderank.com (.net, .org, & .info also available)
healthcode.info
Could also add va to the beginning of either of those.

And.... because I can't help but be sarcastic: noratsinmysoup.com

[2014-03-21 08:28] qwo commented on #14
@RainmakerLegendz created some wireframes that were added on this pull>

https://github.com/c4hrva/open-health-inspection-app/commit/400a36fdfa0284f8e7d491eda2064167ba47c153

also some other branding and identity stuff. I dont think we're at that stage right now with the app but  wanted to make sure someone saw this.

[2014-03-21 12:14] wbprice commented on #14
I'm digging what @RainmakerLegendz put up, but haven't built the live version just yet.  Also, aside from vague ideas on my part, we don't really have desktop wireframes.  I'll upload some of my ideas later, but definitely looking for input here.

[2014-03-27 17:26] #23 closed, assigned to nobody

[2014-03-27 17:34] wbprice opened #33 "Update my location after permitting geolocation"
Geolocation is working(-ish) right now.  On first load, browser asks for permission to geolocate, but after permission is granted the map center doesn't update automagically.   I'm working on watching for permission to be granted and then updating map center.

**platforms where geolocation doesn't work yet**
- Firefox - Linux
- Firefox - Old versions of Mac OS
- Safari - Old versions of Mac OS

In

[2014-03-27 17:51] bschoenfeld commented on #23
Yes. The server will convert the GUID to a string before sending it through the API.

[2014-03-27 17:52] wbprice commented on #23
Yup, this is what's happening now that my local copy is pulling from the API.

[2014-03-27 19:21] kmcurry commented on #33
:thumbsup:

[2014-03-28 12:19] #21 closed, assigned to nobody

[2014-05-03 15:36] wbprice commented on #33
being addressed in #41, but need to do more testing.

[2014-05-03 15:39] wbprice commented on #9
Maybe after this gets more exposure at NDoCH someone will come up with a cool name for us.

[2014-05-03 15:45] wbprice opened #43 "How to handle missing data"
I've noticed a couple of instances where there isn't inspection data in the database for specific restaurants.  As examples, I don't see anything for Pho 79 and This Old House where I live.

![screenshot from 2014-05-03 11 42 59](https://cloud.githubusercontent.com/assets/2590422/2870712/cecf2438-d2d9-11e3-8c0e-6a092991007f.png)

I wondering if this is an instance of that information just not bein

[2014-05-04 12:26] ttavenner commented on #43
Are you finding a listing for the restaurant with no inspection data specifically or just no listing for the restaurant at all? I'm having trouble finding these restaurants at all in the MongoDB. Either way it sounds like missing data since I've verified that both of these are on the Healthspace site and have inspections. Strange since we have quite a few vendors for Virginia Beach. I will run the

[2014-05-04 12:42] ttavenner commented on #43
Well, shoot. Just discovered a major flaw in the scraper design. We've still got more work to do before the database is complete.

[2014-05-04 12:43] bschoenfeld commented on #43
What is it??

On Sunday, May 4, 2014, Tommy Tavenner notifications@github.com wrote:

[2014-05-04 12:57] ttavenner commented on #43
The query system behind the Healthspace site has a hard limit of 1,000 results returned. So in places with more than 1,000 vendors, querying for 10,000 results ('Count=10000') still only returns the first 1,000. You need to iterate over the page using a 'start=' variable until the page returns 'No Results'. It should be a pretty easy fix and it should only effect a small number of cities. I am als

[2014-05-04 14:17] ttavenner commented on #43
Updated the scraper and re-ran it specifically on VA Beach as a test. It successfully added all the vendors between P and Z. I am re-running it for the rest of the file now.

[2014-05-04 14:17] #43 closed, assigned to nobody

[2014-05-04 14:20] wbprice commented on #43
My favorite sushi place thanks you. http://c4hrva.github.io/open-health-inspection-app/#/vendor/53664939afbfd1046cecbbfb

[2014-05-04 14:42] qwo commented on #43
the app is looking sharp @wbprice, the repeat symbol took me a second to realize.

[2014-05-09 12:53] qwo opened #46 "Analytics"
The app is looking great more and more every day. Hooking it up to the c4hrva analytics account to monitor if any extern folks are hitting it.

[2014-05-09 12:55] qwo opened #47 "View Cut off in Mobile"
![photo1](https://cloud.githubusercontent.com/assets/3683993/2928212/2453b588-d779-11e3-8db1-808a9c836537.jpg) {width: 100px; height:300px}
iPhone 5 Chrome.

View is partially cut off

[2014-05-09 12:56] wbprice commented on #47
This is because the API changed and I haven't had the time or energy to update the app yet.  I'll take care of it (and the title text wrapping) soon.

[2014-05-09 13:00] qwo commented on #47
on a site note that image is huge lemme resize it down. I will took a peer around Angular too :)

[2014-05-09 13:03] qwo opened #48 "View Cut off in Mobile"
<img src="https://cloud.githubusercontent.com/assets/3683993/2928212/2453b588-d779-11e3-8db1-808a9c836537.jpg" width="200px" height="400px" > </img>
iPhone 5 Chrome.

View is partially cut off

[2014-05-09 13:49] qwo commented on #48
Duplicate.
#46 sorry.

[2014-05-09 13:49] #48 closed, assigned to nobody

[2014-05-10 18:30] wbprice commented on #47
This was addressed in #49 (and a quick change to main repo afterwards).

[2014-05-10 18:30] #47 closed, assigned to nobody

[2014-05-31 16:12] eg267703 opened #50 "Bullet Points"
Bullet Points would look better if had numbers for each restaurant like Google map locations.

[2014-05-31 16:13] eg267703 opened #51 "Close out previous bullet"
When you click on one of the locations the name tab doesn't go away when you click on the next one. Should allow to switch to new restaurant name and have the other one go away to avoid clutter.

[2014-06-05 03:05] #33 closed, assigned to nobody

[2014-06-05 03:05] #14 closed, assigned to wbprice

[2014-06-05 03:06] wbprice commented on #9
I bought the domain openhealthinspection.com.  We might be able to get the domain refunded by InMotion,  but heck, it's $15 so whatever.

[2014-06-05 03:10] wbprice opened #52 "Maps: Load more results when map center changes."

[2014-06-05 03:12] wbprice opened #53 "Maps: Revisit Pin Badges"
Should either link directly to inspections data or be more thoughtfully designed.  Only one badge should be open at any given time.

[2014-06-05 03:12] wbprice opened #54 "Maps: In restaurant detail view, display the pin for the given restaurant at the top of the screen."

[2014-06-05 03:13] wbprice opened #55 "Restaurant Detail View: Provide a way to dismiss inspection cards"
-By providing an 'x' in upper right or by dismissing cards on map scroll.  On exit, do another geosearch at wherever map center is.

[2014-06-05 03:18] wbprice opened #56 "General: Welcome Screen"
On (at least) initial load, provide an explanation of the purpose of the app and how to use it.

[2014-06-05 03:18] wbprice opened #57 "General: Usability Studies"
Get feedback from real people. Looking at you @aimsrandom

[2014-06-05 11:46] wbprice opened #58 "App title disappears on mobile"

[2014-06-05 12:50] wbprice opened #59 "Add link back to project page"
Github ribbon or similar.

[2014-06-05 13:02] qwo commented on #59
Recommend making a imageless ribbon using this service! http://codepo8.github.io/css-fork-on-github-ribbon/

[2014-06-05 13:05] ttavenner opened #60 "Search button doesn't work in iPhone 4S/Safari"
Clicking the button does not bring up the search bar. Everything else functions as intended.

[2014-06-05 13:12] wbprice commented on #60
Kind of game breaking, so I'll see about knocking this out over lunch.

[2014-06-05 13:41] bschoenfeld commented on #60
Reproduced on iPhone 5 in Chrome and Safari.

On Thu, Jun 5, 2014 at 9:12 AM, W. Blaine Price notifications@github.com
wrote:

[2014-06-05 14:07] bschoenfeld opened #61 "README needs instructions on installing 3rd party libs"
I'm not sure how to use these fancy tools to get Angular and Underscore on my local build

[2014-06-05 14:09] wbprice commented on #61
AngularJS/Bootstrap are being served by CDN and the calls for that are in index.html.  At the moment I'm just using grunt to minify/concatenate CSS and JS, which is described in the readme.

[2014-06-05 14:10] bschoenfeld commented on #61
Hmm. How are you running locally? Do you have a node server or something? If you just load index.html into the browser window, you get these errors:

[code]

[2014-06-05 14:12] qwo commented on #61
are you using the command grunt serve
 **\* oops. this doesn't work. (im being a dummy) listen to blaine :) I haven't touched this project in a bit.

[2014-06-05 14:14] wbprice commented on #61
I didn't know about grunt serve when I set up the project.  I'm running the project using MAMP on my laptop, but any localhost type thing will do.

[2014-06-05 14:17] bschoenfeld commented on #61
I'm using grunt watch because the README told me to. Whatever the process, it should be added to the README. I suggest we recommend something specific.

[2014-06-05 14:25] wbprice commented on #61
Sounds good.  I like the idea of using grunt serve to simplify this process too.

[2014-06-05 14:35] qwo commented on #61
I created a pull, these instructions should be more stream lined.

https://github.com/c4hrva/open-health-inspection-app/pull/63

[2014-06-05 14:35] kmcurry opened #64 "Add metadata description"
The metadata description is super important for social media and SEO. It's how previews show your tag line. Add a snazzy tag line to our metadata description
![screen shot 2014-06-05 at 10 34 32 am](https://cloud.githubusercontent.com/assets/69151/3188863/aa51d05c-ecbe-11e3-8818-85bf8fbe1463.png)

[2014-06-05 14:46] qwo commented on #64
The pains of angularjs. We would have to build a static wrapper around the site, maybe including the welcome, instructions, and how to use the site.

[2014-06-05 14:48] wbprice commented on #64
I added a meta description to index.html.  Wouldn't that work?

[2014-06-05 14:54] kmcurry commented on #64
Yes. I just submitted a pull request for index.html but it can't be automagically merged

[2014-06-05 14:55] wbprice commented on #64
My bad.  I jumped the gun and edited main repo directly.  Will merge your changes over lunch.

[2014-06-05 15:03] kmcurry commented on #64
Bad civic hacker. No cookie.

[2014-06-05 15:20] wbprice opened #66 "Add geolocation fallback"
For people who don't allow geolocation (or if it fails) or who are looking from outside the state, default to Hatch.  This is mostly already in the code.

[2014-06-05 16:36] wbprice commented on #60
It doesn't work on Desktop Safari either.

[2014-06-05 16:37] wbprice commented on #60
Original reference is here: http://tympanus.net/codrops/2013/06/26/expanding-search-bar-deconstructed/ Working on fix now.

[2014-06-05 17:58] wbprice commented on #64
We can make this better with a thumbnail/screenshot of the app for social media.  https://developers.facebook.com/tools/debug/og/object?q=http%3A%2F%2Fopenhealthinspection.com

[2014-06-06 01:50] wbprice commented on #60
Well, current input isn't as flashy but it works. Maybe replace later.

[2014-06-06 01:50] #60 closed, assigned to nobody

[2014-06-06 01:51] wbprice commented on #58
Could replace with logo on mobile.

[2014-06-06 01:52] wbprice opened #67 "iOS Bug: Search results are displayed behind inspection cards in detail view."
replicated on iPhone 4s and simulated iPhone 5.

[2014-06-06 01:53] #61 closed, assigned to nobody

[2014-06-06 02:00] kmcurry opened #68 "There don't seem to be many results near me"
Tried Chrome and Safari multiple times:

![screen shot 2014-06-05 at 9 59 39 pm](https://cloud.githubusercontent.com/assets/69151/3195942/4aec1c02-ed1e-11e3-80e3-c6dc29296f58.png)

[2014-06-06 02:07] wbprice commented on #68
At the moment there's not a way to say "Give me restaurants within x miles away, so the distance was hardcoded to 500 meters.  I'm going to look at expanding the search radius as the screen moves or until a good number of search results are displayed.

[2014-06-06 02:10] qwo commented on #68
maybe instead of search radius, number of results?

Can the App zoom to fit the number of Points-Of-Interest or is it the same
zoom level

On Thu, Jun 5, 2014 at 10:07 PM, W. Blaine Price notifications@github.com
wrote:

##

Stanley Zheng
@stanzheng http://twitter.com/stanzheng

[2014-06-06 02:18] wbprice commented on #68
The reason I had limited the distance initially was because of the performance hit of drawing a bunch of markers at once.  Would be interesting to see what other approaches there are to minimizing the performance hit.  Example, could make a much larger geosearch call but only render markers in a given radius, and then render the rest when the map center moves closer.

Also yes. http://angular-goog

[2014-06-06 15:23] qwo opened #69 ".gitignore file should be present?"
should ignore node_modules at least :)?

[2014-06-06 20:01] kmcurry commented on #64
:thumbsup:

[2014-06-06 20:17] #55 closed, assigned to nobody

[2014-06-06 20:17] wbprice commented on #55
addressed in #71

[2014-06-06 20:47] wbprice commented on #64
donesies.

[2014-06-06 20:47] #64 closed, assigned to kmcurry

[2014-06-06 22:22] jalbertbowden opened #73 "xbrowsercompat"
firefox and chrome in win7 are off on the index page;
the search box in ff is below the header;
in chrome you can see a pixel line of light color, right before header ends. not sure if that one is on purpose...
also the maps are zoomed differently: chrome zoom seems perfect, ff zoomed too far in.

[2014-06-09 03:26] qwo opened #74 "Marker Clustering for Dense or Zoomed out Views"
https://developers.google.com/maps/articles/toomanymarkers#viewportmarkermanagement
![screen shot 2014-06-08 at 11 26 37 pm](https://cloud.githubusercontent.com/assets/3683993/3213232/e9ca8e8a-ef85-11e3-902f-766ec630e388.png)

[2014-06-09 12:40] wbprice commented on #74
+1

[2014-06-10 02:18] wbprice commented on #74
The maps library I'm using handles this! hooray! I'll work on this when I'm better rested.

[2014-06-11 21:27] wbprice opened #77 "Identity: Logo, icons, etc."

[2014-06-17 14:00] qwo commented on #69
Where are the dependencies saved?

https://www.npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git @wbprice

[2014-06-17 14:06] wbprice commented on #69
Nothing in node_modules needs to go up on the live site, it's just for minifiying/concatenating files locally.  Safe to ignore node_modules for the purposes of git.

[2014-06-18 15:31] qwo commented on #77
@RainmakerLegendz @TheWhiteKyle @cosmicmeow @aureately

Any thoughts on this?
http://openhealthinspection.com/#/

[2014-06-18 23:37] qwo commented on #1
I think this would be valuable, but I think it would feel less 'accusatory' if we put this on a perspective by  city, region, neighborhoods etc. Those would be interesting but still allowing people to personally find it out by clicking on a SPECIFIC vendor.

We talked about this one of the past hacknights

[2014-06-18 23:38] qwo commented on #1
#1 and #2 seem like they're very similar

[2014-06-23 21:43] wbprice opened #79 "Low Bandwidth fallback."
For checking OHI over 3G, mall wifi, or similarly terrible connections.

[2014-06-25 17:00] #69 closed, assigned to nobody

[2014-06-25 17:09] wbprice opened #80 "Display a list of restaurants near me"
This was happening earlier, but I broke it :(

[2014-06-25 19:50] #80 closed, assigned to nobody

[2014-06-25 19:59] wbprice opened #84 "Explore swipe motions on devices that support it."
Slide horizontally to get next closest restaurant, dismiss cards, etc.

[2014-06-25 20:19] qwo commented on #84
pseudo related related: @wbprice should pick a place to eat.

[2014-06-25 20:33] wbprice opened #85 "Display an icon that relates to the category of the vendor in listview."
There are ~48 different categories in the database, so we'll want to boil them down somewhat.
- Government
- Restaurants
- Schools
- Churches

etc.

[2014-06-25 20:35] wbprice opened #86 "Provide a UI component that hides/displays listview."
For Geosearch, Search, etc.

[2014-06-25 20:39] ghost commented on #84
:+1:

[2014-06-25 23:34] ttavenner commented on #85
Here is the total list of vendor types in the database. Obviously these need to be grouped a bit less granularly:

{
    "0" : "Seasonal Fast Food Restaurant",
    "1" : "Fast Food Restaurant",
    "2" : "Full Service Restaurant",
    "3" : "Public Middle or High School Food Service",
    "4" : "Mobile Food Unit",
    "5" : "Private Elementary School Food Service",
    "6" : "Child Care Food Servi

[2014-06-26 00:26] qwo commented on #46
@BretFisher or @kmcurry

we need an analytics tag for the OHI app

[2014-06-26 14:11] BretFisher commented on #46
ID for http://openhealthinspection.com: UA-39303796-8

codes:

[code]

[2014-06-27 21:22] wbprice commented on #86
resolved in #87.

[2014-06-27 21:22] #86 closed, assigned to nobody

[2014-06-27 21:26] wbprice opened #89 "Provide a way to switch between search modes"
Allow search by name, address, locality (and other as allowed by API).

[2014-06-29 23:21] qwo commented on #4
ah this is an old issue, storing favorite restaurants, that'll require a persistent layers and user auth.

Channeling my inner googleIO Do you think the technical complexity vs value is worth it?

[2014-06-29 23:22] wbprice commented on #4
I don't think this would add a lot of value.  It was more of a "how can we apply the lessons of hrt.bus here?" thought.

[2014-06-29 23:41] qwo opened #93 "use production js/css in distribution"
currently distribution code is mixed with development, trying to produce and output to /dist/

[2014-07-02 22:40] wbprice opened #95 "Introduction Modal"
Introduction to app, how to use, where to send feedback, etc.

[2014-07-02 23:04] qwo commented on #9
i think this is closed?

[2014-07-02 23:04] #9 closed, assigned to nobody

[2014-07-02 23:10] wbprice commented on #85
## Proposed Condensed List:

Education
Hospitality
Restaurant
Grocery
Government
Medical
Mobile Food
Other

[2014-07-02 23:18] qwo commented on #1
wont do

[2014-07-02 23:18] #1 closed, assigned to nobody

[2014-07-02 23:19] #2 closed, assigned to nobody

[2014-07-02 23:19] #3 closed, assigned to nobody

[2014-07-02 23:19] #4 closed, assigned to nobody

[2014-07-02 23:19] #16 closed, assigned to nobody

[2014-07-02 23:20] wbprice commented on #52
Rather than doing this, we're going to retool current geolocation button to grab more results using the center of the map (following the example of Yelp and Google).

[2014-07-02 23:20] #52 closed, assigned to nobody

[2014-07-02 23:21] #54 closed, assigned to nobody

[2014-07-02 23:27] qwo commented on #77
@aureately  we are talking logos. can you help out on this?

## Brain Dump,
- Food Plate
- Magnifying glass
- Food plate that is a magnifying glass, with the handle being a fork and knife.
- transparent food?
- something cool

Brand/Logo should be friendly for social media, icons for apps, etc. in relation to https://github.com/c4hrva/open-health-inspection-app/issues/77

[2014-07-03 00:17] qwo commented on #67
fixed.

[2014-07-03 00:17] #67 closed, assigned to nobody

[2014-07-03 00:18] qwo commented on #59
can be also put in along with feedback email

[2014-07-03 00:26] qwo commented on #85
icons can be selected from
- Glyphicons http://getbootstrap.com/components/
- Favicons http://fortawesome.github.io/Font-Awesome/
- Octicons https://octicons.github.com/

[2014-07-03 02:08] qwo commented on #93
theres a bug, the app has to be built by running

[code]

before production.js is allowed

[2014-07-03 04:18] qwo commented on #46
thanks

[2014-07-03 04:18] #46 closed, assigned to nobody

[2014-07-03 04:20] qwo commented on #56
duplicate of #95

[2014-07-03 04:20] #56 closed, assigned to nobody

[2014-07-03 13:36] nameispete commented on #74
As discussed last night, we can address this in user education.

[2014-07-03 13:40] nameispete opened #96 "Add feedback button(s) and associated assets"
We should add a feedback mechanism.

The most basic option is a simple email link. It's a nice one-size-fits-all and we can use a javascript that puts a subject into the email for quick filtering.

I am not sure how we pluck tasks from the stack...... I can set up a gmail account for this app that forwards to everyone involved.

[2014-07-03 13:40] qwo commented on #74
+1 wbprice realized its not a drop in replacement so it'll have to come in a bit later

Nice to see you on @nameispete

[2014-07-03 13:42] nameispete opened #97 "July 10th target - Press release to Norfolk influencers in media."
Are there examples of press releases that we've done in the past?

[2014-07-03 13:43] wbprice commented on #96
I set up a openhealthinspection@gmail.com email address last night at hack night, so no worries.

[2014-07-03 13:48] nameispete commented on #96
Awesome...

so I know we talked about a dedicated Twitter, but unless you guys think otherwise.. an email with a predefined subject "FEEDBACK on OpenHealthInspection" works really well and allows nice multiple forwarding through gmail and does not require monitoring of the specific twitter account.

[2014-07-03 13:48] qwo commented on #97
Here is the link to the @c4hrva google drive.

for the hrtb.us release there were some written. https://drive.google.com/#folders/0BzQFSkq0ERZOcms4c0x2YWJIejQ

for national events we had like CodeAcross and National Day there are also some press releases in their respective folders

https://drive.google.com/#folders/0B_WC8QOgiwjzeDBPRkM2UW05ZjA

[2014-07-03 13:48] qwo commented on #97
I'd be happy to list the link of Norfolk Influencers  below here.. lemme start compiling
- AltDaily
  - Jesse Scaccia  jesse@altdaily.com
- VeerMagazine
  - Jeff Maisey jeffmaisey@cox.net
- Virginia Pilot
  -  Patrick Wilson patrick.wilson@pilotonline.com
  -  Ana Upton ana.upton@pilotonline.com
  - tips@pilotonline.com
- WTKR
  - desk@wtkr.com
  - Newsroom@wtkr.com
- Wavy 10
  -     Newsdesk@wavy

[2014-07-03 13:51] qwo commented on #96
sounds like a plan!

[2014-07-03 13:53] jalbertbowden commented on #96
thats actually a no-no in ux 101.
not picking, just saying

[2014-07-03 13:57] qwo commented on #96
what do you suggest as an alternative @jalbertbowden?

*\* or what is the recommended mechanism

[2014-07-03 13:59] jalbertbowden commented on #96
a form on the page that does the same thing, except it doesn't take them away from where they are, and it doesn't need another user-agent to work.
or open another tab.

[2014-07-03 14:01] wbprice commented on #96
@jalbertbowden We did this for hrtb.us.  I'm fine with building a contact form that forwards to openhealthinspection@gmail.com.

[2014-07-03 14:35] kmcurry commented on #96
Scanning thread on feedback...not seeing UserVoice...

It's what we use for HRTB.us.

On Thu, Jul 3, 2014 at 10:01 AM, W. Blaine Price notifications@github.com
wrote:

##

Kevin Curry
Virginia Beach, VA
http://www.linkedin.com/in/kevincurry

[2014-07-03 14:36] kmcurry commented on #97
:thumbsup:

On Thu, Jul 3, 2014 at 9:48 AM, Stanley Zheng notifications@github.com
wrote:

##

Kevin Curry
Virginia Beach, VA
http://www.linkedin.com/in/kevincurry

[2014-07-03 14:40] qwo commented on #97
@kmcurry have more contacts to contribute?

[2014-07-03 15:00] wbprice commented on #96
@kmcurry is it still the case that only @BretFisher has access to UserVoice feedback? Are we able to add a second project and leave that under one account?

[2014-07-03 16:00] kmcurry commented on #96
Make a new account specifically for the app. Use that gmail you created as
the user, generate a 128+ bit key and put it in a safe place. @BretFisher?

On Thu, Jul 3, 2014 at 11:00 AM, W. Blaine Price notifications@github.com
wrote:

##

Kevin Curry
Virginia Beach, VA
http://www.linkedin.com/in/kevincurry

[2014-07-03 16:01] kmcurry commented on #97
Not off hand but search all the locals for their food contributors and
editors. Add them.

If we write a piece for AltDaily it will be published almost certainly.

On Thu, Jul 3, 2014 at 10:40 AM, Stanley Zheng notifications@github.com
wrote:

##

Kevin Curry
Virginia Beach, VA
http://www.linkedin.com/in/kevincurry

[2014-07-03 16:17] BretFisher commented on #96
so we could have a group account for UserVoice but that's against their EULA. Also the way UV works is you create a new project (site) for each app.  Unless we use the FAQ + Feedback features I think UV is overkill. What we need is a opensource web app that lets us quickly throw a button/link on any web app, which gives them a simple form, and tracks responses, email notifications, etc.

[2014-07-03 16:17] BretFisher commented on #96
no idea what @kmcurry is talking about in his last post. "128+ bit key"?

[2014-07-03 16:21] BretFisher commented on #96
http://stackoverflow.com/questions/1576935/open-source-alternative-to-uservoice-or-get-satisfaction

[2014-07-03 16:23] BretFisher commented on #96
dated, but http://mashable.com/2011/03/06/user-feedback-apps/

[2014-07-03 16:33] nameispete commented on #96
Along with Albert-- I am not "picking"-- but keep in mind that we are looking at press release (and hopefully many new users) in 7 days....

We have a workable, rapid solution (albeit not elegant) in the form of an email link that we **know** works and everyone and their grandmother knows how to use....even if it spawns a new user agent....

As for the larger discussion, it does seem that we need

[2014-07-03 17:05] qwo commented on #96
you raise a good point @nameispete, we subscribe to x-many services but maybe we should standardize at least how users can give feedback for @c4hrva apps for consistency and easier to manage/implement.

[2014-07-03 17:18] BretFisher commented on #96
Agree with all. I think of email link as better then nothing, but we've had feedback that indicates the email link method is inferior to a modal that lets them type in app and submit.  Maybe that's the next "brigade helping brigade" app: a .js modal form that sends feedback to a google sheet or similar as a very-low-tech way to get feedback from small apps that don't warrant the UV approach.

[2014-07-03 17:27] jalbertbowden commented on #96
dont think huge when i say form....
it would look exactly how ya'll are thinking/were thinking.
but when its clicked, you stay where you are....

you can target different user agents for different things...

just like how i pointed out using tel: protocol is fun for mobile, but not
on desktop.

ps va beach has that code in production

On Thu, Jul 3, 2014 at 1:18 PM, Bret Fisher notifications@githu

[2014-07-03 17:33] kmcurry commented on #96
For generating random pwd. Nvm.

On Thu, Jul 3, 2014 at 12:17 PM, Bret Fisher notifications@github.com
wrote:

##

Kevin Curry
Virginia Beach, VA
http://www.linkedin.com/in/kevincurry

[2014-07-03 18:54] nameispete commented on #97
---

"what's inside their kitchen?"
"How clean is their kitchen?
Openhealthinspection.com launches in anticipation of  Norfolk Restaurant Week
 timely restaurant health reports for free from your phone or computer

With Norfolk Restaurant week coming up this Monday, July 13th, folks around the area are wondering not only how tasty a restaurant’s food is, but also how clean the restaurant's kitchen

[2014-07-03 19:26] nameispete opened #98 "moving around the map"
We absolutely need means to refresh restaurants to geocenter of the map. It's okay if its a button.

For me, when I check out the site from my PC, it puts my location several miles southeast of where I am. I am in central VB-- it gives me southeastern VB. There is no way to explore restaurants anywhere except the initial location. Or if there is ... it is not clear.

@wbprice @stanzheng I know tha

[2014-07-03 19:29] nameispete commented on #95
I'll start wordsmithing something.

[2014-07-03 19:32] qwo commented on #98
Hi @nameispete that sounds like your browser and your ISP, how most apps utilize 'use my location' is handled is by the browser and the ISP i believe.

We aren't doing anything special in that regard and is handled differently I believe by browser and where you're connection.

see
http://html5demos.com/geo
http://www.sitepoint.com/html5-geolocation/

[2014-07-03 19:36] nameispete commented on #98
@stanzheng, thanks for the links/info. Good stuff.

 I am on Verizon FIOS and they are putting my location toward Rudee inslet. No way for me to see restaurants not near there.

[2014-07-03 19:51] qwo commented on #98
yeah for geo location, sometimes they place me in hampton/virginia for cox users. Im not an expert but usually wifi data provides the most accurate results with geo location and mobile data is a bit spotty.

[2014-07-03 20:01] qwo commented on #98
the way to solve this is to take an uber or lyft way of creating a device/map center, and that being the source of truth for the 'geolocation center' of where a user is or where they're interested in. That is intricate knowledge of the google maps API that im not sure @wbprice about

[2014-07-03 20:24] jalbertbowden commented on #98
on desktop you are pinged to the server isp....so in va beach we are all @ ocean front.
mobile provides level(s) of granularity.
the solution(s), again are to feature detect who and what you are serving up.
gmaps provides all this functionality...i've done it before....

[2014-07-04 04:15] nameispete commented on #95
## First Blush - User Education - opening screen

Learn more about where you eat! Click a pin and "Get Report" and you will have the latest publicly available health inspection report for that restaurant. There are two modes. List and Map. List takes you to all of the places within five miles of your location. Map takes you all around Virginia. Be sure to zoom into the map to see specific reports.

[2014-07-04 04:18] nameispete commented on #77
I think we have to identify the brand. OHI. Like the idea of OHI on a plate.

For icons, a fork and knife, in place of pins would be nice as well.

[2014-07-04 04:28] qwo commented on #95
had to check up on the scraper db and run a query

[code]

so there are 26595 food vendors in the state of virginia, if we want to narrow it down to Hampton Roads or even smaller Norfolk i can grab those numbers too

[2014-07-04 04:28] nameispete commented on #77
Concept?

![stock-vector-plate-with-cutlery-127307942](https://cloud.githubusercontent.com/assets/6691372/3478291/a80cd7fc-0333-11e4-8e32-87cd3c1a2509.jpg)

[2014-07-04 04:46] nameispete commented on #96
To finalize. We are going with a simple email link for the OHI release. We will expand the topic and develop easy-to-implement standards and mechanisms for feedback for this app and future ones at a later date. Is this about right?

[2014-07-04 04:49] nameispete commented on #95
@stanzheng  Thank you. Integrated your results into "first blush user education" ----

[2014-07-04 05:55] wbprice commented on #77
@nameispete love it.  This is pretty similar to some of the ideas we were kicking around at hack night.

[2014-07-04 06:00] wbprice commented on #96
In the first pass I'll include the openhealthinspection@gmail.com address in the introduction modal.  After addressing the three or so other critical issues, I'll build an in-app form.

[2014-07-04 07:09] jalbertbowden commented on #77
think i have icons but i can't find your list of headings/topics/etc.
question:
http://openhealthinspection.com/#/
does the app url have "#"?

[2014-07-04 08:07] nameispete commented on #96
honestly, @wbprice -- if we can have an intro screen, we can explain how it works as well as have a link to feedback. Just need an introductory single page (html)? prior to application launch.

1) Be able to switch between list and map
2) Have geocenter on relocation

We are gold for July 10.

[2014-07-04 15:14] qwo commented on #77
this is how frameworks like Angular and Ember handle routing so you can link in context.

This article has info about how to fix it but its a non priority. http://scotch.io/quick-tips/js/angular/pretty-urls-in-angularjs-removing-the-hashtag

This is the icon list
Education
Hospitality
Restaurant
Grocery
Government
Medical
Mobile Food
Other

**\* Edit its in this issue. https://github.com/c4hrva/op

[2014-07-04 15:32] kmcurry commented on #77
Oh. Hi! :smile:

On Fri, Jul 4, 2014 at 1:55 AM, W. Blaine Price notifications@github.com
wrote:

##

Kevin Curry
Virginia Beach, VA
http://www.linkedin.com/in/kevincurry

[2014-07-04 16:13] qwo commented on #77
@kmcurry agreed thats the first thing i saw, also the state of OHIO :smile_cat:

[2014-07-04 17:55] jalbertbowden commented on #77
urs, dedicated uris, are most certainly always a priority.
not knowing that....or openly choosing against it.....uh wat?
i know it doesn't matter when its my opinion, but tbl weighed in heavily against it.
then again, he only invented the internet.

so wait...all those hashbang urls are simply because some backender coudln't figure out dynamic names/layout.
lolololololololololololol

genius.

i'll

[2014-07-04 18:29] qwo commented on #77
this was a decision angular made, you can find some of this in this discussion @jalbertbowden https://github.com/angular/angular.js/issues/4608

Thanks about the icons, postem to this issue. *\* https://github.com/c4hrva/open-health-inspection-app/issues/85#issuecomment-47848798

[2014-07-04 20:56] jalbertbowden commented on #77
i hope they make the decisions in their company.
you chose to use them
then chose not to implement the fixa
so thats their fault?

clearly its done....not sure where the confusion is from.

[2014-07-04 21:00] jalbertbowden commented on #77
SJJB Maps
http://www.sjjb.co.uk/mapicons/downloads

i see all the ones except for "other" and a distinct "government"....but there's plenty to pick from.
i have the pngs, in tons of colors if you don't want to render them yourself

of note: check out the prison amentiy icons

[2014-07-05 21:11] qwo opened #99 "Semantic Markers"
Similar to open nebraska, markers could mean something, either maybe logos of POI or color coded to reflect scoring or other meaning.

http://foodinspections.opennebraska.io/

[2014-07-05 21:11] wbprice commented on #99
Good resource for the icons here:
http://mapicons.nicolasmollet.com/

[2014-07-05 21:28] qwo commented on #97
nice @nameispete this reads like a real professional article.

C4HRVA has been featured in print and media before so maybe some inspiration from that

http://hamptonroads.com/2013/10/volunteers-build-app-track-hrt-buses-real-time
http://hamptonroads.com/2013/05/hackers-put-white-hats-civic-duty-norfolk

[2014-07-05 21:39] wbprice commented on #98
Partially addressed in #100, in which I've placed a pin at the center of the map.  To get new results, position the pin, click update.  Consistent with behavior of Lyft/Uber and Google Maps.

[2014-07-05 21:59] qwo opened #101 "Restaurant Week Filter"
CSV cleaned up data of all POI on restaurant week.

https://gist.github.com/stanzheng/4fa9147fbb4f02910ec8

TODO get equivalent json object in OHI app relation ,
http://www.downtownnorfolk.org/enjoy/events/restaurant_week

[2014-07-05 22:50] wbprice commented on #98
The second half of this is going to be to keep track of how far away the map center is from the last geosearch coordinates, and then make another geosearch call on the dragend event when more than about a half mile away.  Get ready for performance issues.

[2014-07-05 22:53] qwo opened #102 "Padding on Map Markers Popups"
![screenshot 2014-07-05 18 48 36](https://cloud.githubusercontent.com/assets/3683993/3487688/173b2e1c-0497-11e4-9e43-cf739955e7e0.png)

[2014-07-05 22:53] qwo opened #103 "Blank Search Returns"
Possible blank documents in the API

![screenshot 2014-07-05 18 49 42](https://cloud.githubusercontent.com/assets/3683993/3487690/3210bc52-0497-11e4-8788-b51b295d4b06.png)

[2014-07-05 22:56] qwo commented on #103
should be in openhealth api

[2014-07-05 22:56] #103 closed, assigned to nobody

[2014-07-05 23:55] qwo opened #105 "Create only one infowindow created for multiple markers"
see
http://stackoverflow.com/questions/4979401/google-maps-only-one-infowindow-created-for-multiple-markers
http://jsfiddle.net/ifaour/3CvaD/40/

![screenshot 2014-07-05 18 48 36](https://cloud.githubusercontent.com/assets/3683993/3487688/173b2e1c-0497-11e4-9e43-cf739955e7e0.png)

[2014-07-06 15:47] wbprice commented on #77
Here's my attempt at a logo based on what we've been kicking around so far.
![ohilogo2](https://cloud.githubusercontent.com/assets/2590422/3489307/cd86a1c8-0524-11e4-9a60-7e03c070b44e.png)

[2014-07-06 15:59] nameispete commented on #77
I really like that! Kudos!

 I get that it's a plate -- I wonder if maybe by putting another circle just inside the outer "O"-- it might communicate the plate message more effectively. Still that's out-of-park for me. Great work.

[2014-07-06 16:03] nameispete commented on #77
One more observation.... if it was flipped horzontally... it absolutely could never be seen as a "Q" ....

[2014-07-06 16:07] wbprice commented on #77
Sounds good to me.  Also easier and cheaper than renaming the app to Qpen Health Inspection.

[2014-07-06 16:21] qwo commented on #77
maybe if there was inner plate line, it would be easier to discern + show a bit of depth
![search](https://cloud.githubusercontent.com/assets/3683993/3489365/9a25b562-0529-11e4-8881-01b386d3c1aa.jpg)

[2014-07-06 16:40] wbprice commented on #77
revised full size:
![ohilogo2v2](https://cloud.githubusercontent.com/assets/2590422/3489418/f9000af4-052b-11e4-87c1-10ae323587b8.png)
title bar size:
![ohilogo2v2blue-small](https://cloud.githubusercontent.com/assets/2590422/3489424/31bfb196-052c-11e4-9876-bc85f4b76b9f.png)
plate + magnifying glass + O = triple word score.

[2014-07-06 20:12] wbprice commented on #95
Used the above as the basis for what was put into the modal in #106

[2014-07-06 20:12] #95 closed, assigned to nobody

[2014-07-06 20:14] qwo commented on #73
@jalbertbowden could you check these again and if these issues still persist? I think we're all mac-aholics here.

[2014-07-06 20:29] #102 closed, assigned to nobody

[2014-07-06 20:58] wbprice commented on #77
Adding logo and favicons in #107.

[2014-07-07 16:33] wbprice commented on #66
add alert to modal acknowledging the above.

[2014-07-07 19:44] aimsrandom commented on #77
Concept from one of our graphic designers at InMotion

![spoon-plate-magnifying-icon-idea](https://cloud.githubusercontent.com/assets/7144451/3500750/80286232-060e-11e4-8dba-cb03657cd8bb.jpg)

[2014-07-07 23:15] wbprice commented on #77
Revised:
![ohilogo2v3](https://cloud.githubusercontent.com/assets/2590422/3503189/94a0f6a2-062c-11e4-85b3-1525d00f1add.png)
Small:
![ohilogo2v3small](https://cloud.githubusercontent.com/assets/2590422/3503188/94a0a6d4-062c-11e4-8797-f9f7c4cc1478.png)

[2014-07-08 00:05] nameispete commented on #77
That's pretty cool.

[2014-07-08 01:47] wbprice commented on #77
Updated the live site with new icons in #109

[2014-07-08 01:47] #77 closed, assigned to nobody

[2014-07-08 21:36] wbprice commented on #66
resolved in #110

[2014-07-08 21:36] #66 closed, assigned to nobody

[2014-07-08 21:36] wbprice commented on #66
No alert for right now.  Will address in a future milestone.

[2014-07-09 23:09] aimsrandom commented on #85
Education:  http://fortawesome.github.io/Font-Awesome/icon/graduation-cap/

Hospitality:  http://fortawesome.github.io/Font-Awesome/icon/building/

Restaurant:  http://fortawesome.github.io/Font-Awesome/icon/cutlery/

Grocery: http://fortawesome.github.io/Font-Awesome/icon/shopping-cart/

Government:  http://fortawesome.github.io/Font-Awesome/icon/university/

Medical:  http://fortawesome.github.i

[2014-07-09 23:44] wbprice commented on #58
addressed in #112

[2014-07-09 23:44] #58 closed, assigned to nobody

[2014-07-10 00:03] qwo commented on #59
could this be addressed in the modal #95?

[2014-07-10 00:36] nameispete commented on #97
Last call for comments on PRESS RELEASE-- it will go out around 10:30am

Here is a link to the PDF

https://drive.google.com/#folders/0B3yyYdD_lUkrVFQtSmUwWkJ2OEE

[2014-07-10 01:11] kmcurry commented on #97
Looks good!

On Wednesday, July 9, 2014, Peter Tyrrell notifications@github.com wrote:

##

Kevin Curry
Virginia Beach, VA
http://www.linkedin.com/in/kevincurry

[2014-07-10 02:15] qwo opened #115 "Center the modal submit button"
Easier to tap the size of the modal by centering it and possibly increasing the size

![screenshot 2014-07-09 22 11 59](https://cloud.githubusercontent.com/assets/3683993/3533723/068fbabc-07d8-11e4-9d16-d16c9d87ce46.png)

[2014-07-10 15:28] nameispete commented on #97
Sent them out... will be sending more!! Congratulations! Nice work on this application!

[2014-07-10 15:28] #97 closed, assigned to nobody

[2014-07-10 15:30] nameispete commented on #105
Should this be combined with #51

[2014-07-10 15:36] qwo commented on #105
you're right, i thought 'bullets' was referring to entries in the inside the info window. my terminology is confused.

[2014-07-10 15:43] harry-wood opened #116 "Use OpenStreetMap"
Use maps from OpenStreetMap not Google.

Maybe not very high on your priority list, but when I see ["@OpenData" pimping this](https://twitter.com/opendata/status/487257070669139968), I feel obliged to say something :-)

The OpenStreetMap project is a a not-for-profit project which releases all raw map data with an open license. Google maps is a closed-data commercial map provider.

Some practical

[2014-07-10 16:00] wbprice commented on #116
There are a few more features we'll want to implement on the maps side, so we'll look at how we might do that in Leaflet JS or similar solutions for a future release.

[2014-07-10 16:33] qwo commented on #116
@harry-wood we appreciate the feedback and are looking into this on #117 now.

We are definitely a OSM fan and @c4hrva/norfolkart application uses OSM tiles and leaflet http://iartnorfolk.com/.

We're receptive to PR and I definitely have limited experience with  angular to know the compatibility between ng-leaflet and ng-maps

[2014-07-10 16:52] ghost commented on #116
nlaplante/angular-google-maps#460 states [anglular-leaflet-directive](https://github.com/tombatossals/angular-leaflet-directive) as the way to go for Angular, and if you want an example, the [OpenStreetMap Wiki](http://wiki.openstreetmap.org/wiki/Slippy_map_tilenames) has information on their tile server URLs.

[2014-07-10 16:54] qwo commented on #116
would use it in a heart beat if its a drop in replacement

**Buzz word** Turnkey

[2014-07-11 15:21] jalbertbowden commented on #116
yeah but this is just another glaring reminder to not start anything with google maps. leaflet should be the default.

[2014-07-11 15:23] ghost commented on #116
@jalbertbowden :+1: At least for open data.

[2014-07-11 16:51] wbprice commented on #85
resolved in #119.  Will probably be able to use this work in #99 too.

[2014-07-11 16:51] #85 closed, assigned to nobody

[2014-07-11 17:07] nameispete commented on #116
Let's close this for now at least as far as OHI 1.0 goes. Perhaps we can create a separate 2.0 fork.

I know that OpenStreetMap is a nice to have and we will definitely learn more about it in three weeks, but at this point, I think we need to refine what we currently have rather than change the underpinnings of the application. If it's not broken, let's not break it.

[2014-07-11 17:12] wbprice commented on #116
I'm not opposed to switching to OSM for a future release, but I'd like some time to look at what LeafletJS has to offer and what the tangible benefits of switching would be.

[2014-07-11 17:13] nameispete commented on #101
We used the upcoming event more as an excuse to launch.

I sort of like the idea of having a "special event" icon that automatically brings the user to the center of the event and filters the results to only eateries related to the event, but I think its practical implementation is going to cause more confusion to the user than value.

I would vote that we nix this idea. We will only have a handfu

[2014-07-11 17:13] ghost commented on #116
Could also create an openstreetmap branch to test out changes without breaking the master development branch.

[2014-07-11 17:13] #96 closed, assigned to nobody

[2014-07-11 17:17] wbprice commented on #116
@ryayak1460 Definitely.  I'm focusing on other things right now, but if you want to get started please feel free to fork the repo and try it out.

[2014-07-11 17:19] nameispete commented on #73
This can be closed. Tested chrome and firefox in Windows 7 and windows 8. Everything looks consistent.

[2014-07-11 17:20] nameispete commented on #84
My thoughts --> Push issue to 2.0 as a "nice to have"

[2014-07-11 17:32] qwo commented on #73
Thats what I thought too @nameispete but i just checked and the issue remains.

See -> Firefox Latest, underneath the search bar the white rectangle space goes outside the bounds. This is definitely a remaining CSS issue that only happens on firefox.

It is low priority and so much so  :) people like you and I ourselves miss it but this is something someone with more CSS fu can fix.
![screenshot 2

[2014-07-11 17:33] qwo commented on #116
agreed with @wbprice if you guys have any questions feel free to ping either one of us. The leaflet rewrite is a goal but not in the immediate time frame.

[2014-07-11 17:35] qwo commented on #101
+1 agreed. This seems like something that can be mentioned just as an BY THE WAY.. type of deal. "By the way use it for restaurant week when you make a choice" this is already public information

[2014-07-11 17:39] nameispete commented on #73
Oh-- you are right. I did not see that. My bad.

[2014-07-11 17:42] qwo commented on #73
you're totally fine, i actually said i wanted to close it until blaine pointed it out. its really easy to miss

[2014-07-11 17:56] ghost commented on #116
I got a question for this: what's the Geosearch value in the controller? Does this stem from a library? I want to see how to use this to interact with the directive I'm looking at currently.

[2014-07-11 17:59] wbprice commented on #116
Geosearch is a service (in services.js) that passes lat/lon information to the API.  The response contains a list of nearby restaurants.  I'm also using Geosearch to pass information between controllers.

[2014-07-11 17:59] qwo commented on #116
Hi are you talking about https://github.com/c4hrva/open-health-inspection-app/blob/gh-pages/js/controllers.js#L7-11?

[2014-07-11 18:04] ghost commented on #116
@wbprice Cool, okay.  Have to learn some Angular first.  Didn't know if `angular.extend($scope.map, {...});` would prove safe.
@stanzheng Yes.  I think the Leaflet w/OpenStreetMap code would only really affect this part of the definitions past the dependencies.

[2014-07-11 18:12] qwo commented on #116
cool :+1: go for it

[2014-07-11 18:21] ghost commented on #116
Trying to figure out how to generate markers from the restaurant models inside the controller, since I don't see a way to template them out instead, at the moment.

[2014-07-11 18:32] qwo commented on #116
hi ryan, im not too familiar with the app as wbprice is but if you post line number and file contexts I would be better able to assist you

[2014-07-11 18:35] ghost commented on #116
Well, it's not currently in the existing codebase.  Essentially, I have to move:

[code]

...to a `map.markers` element on the controller bound to the `results` element in the preceeding HTML.

[2014-07-11 19:10] ghost commented on #116
In any case, I'll take a look at this later.  Got a handrolled data replication bug to track down.

[2014-07-11 21:22] qwo commented on #116
Try some of these links, I think i tried to debug that section of code to no avali. My angular and my map fu is no good but thats how it looks in the docs.

I saw some examples how the guy restructured it for NG-MAP dunno about NG-Leaflet.

These were helpful
https://github.com/nlaplante/angular-google-maps/issues/408#eed5fda471ce7c89fae6c9a93dcb6178
https://github.com/nlaplante/angular-google-map

[2014-07-11 21:25] qwo commented on #116
Also maybe a strategy would be refactoring the code to fall aligned to very strict angular MVC js patterns and be easier to translate and mimic behavior similar to angular-leaflet

Heres the docs on NG-Maps
http://angular-google-maps.org/#!/api#window

[2014-07-11 21:29] ghost commented on #116
I can't exactly use those approaches since you bind markers on the `markers` element of the `leaflet` tag with [angular-leaflet-directive](https://github.com/tombatossals/angular-leaflet-directive), like so:

[code]

So you have to have a `markers` element in your scope, and you have to somehow bind the `results` element with the `markers` element:

[code]

[2014-07-11 21:31] jalbertbowden commented on #73
you'd have to define these prior i reckon, but in my world, opera and ie have to pass to get cross-browser compat....naturally need to define which versions of ie, etc.

[2014-07-11 21:32] ghost commented on #73
Pass it with links.

Oh wait.  :cry:

[2014-07-16 20:15] wbprice opened #120 "Focus on text field."
On click to magnifying glass icon, give focus to text box.

[2014-07-16 22:50] wbprice opened #122 "Better Error Handling"
-Two blank spaces in list view when no results are available.
-When no results are found for restaurants.

[2014-07-16 23:07] qwo commented on #101
bummer. so its wednesday and midway through the week so i'm going to shift gears because it will not be too valuable for much longer.

Instead we can run with a twitter campaign like

[2014-07-16 23:08] #101 closed, assigned to nobody

[2014-07-16 23:08] kwarkster opened #123 "Poor search results"
-searching for "atlee high school" does not return any results, when there is a result for "atlee high school cafeteria"

-searching some of the most popular restaurants in Carytown don't return results- that doesn't seem right.

[2014-07-16 23:09] qwo opened #125 "Norfolk Restaurant Week Social Media Campaign"
Here are some good tweets we can use for our open health inspection app.

Please contribute ones that we can on social media.

Instead we can run with a twitter campaign like

[2014-07-16 23:10] kwarkster opened #126 "Quick Jump for Cities"
There doesn't seem to be an easy way to change your search location- for example, sitting in Norfolk, VA, the app doesn't offer me an easy way to search for restaurants in the Richmond area.  It would be nice to have a space to enter in a zip code rather than have your search anchored in your physical location.

[2014-07-16 23:15] kwarkster opened #127 "Confusing search/list interface"
When you select the list icon, it appears that you can click on either fork & knife symbol or the word "miles" and they will do something for you, like allow you to change your search location, but they don't.

[2014-07-16 23:20] kwarkster opened #128 "Confusing Icons"
I wouldn't use a checkmark to signify a corrected violation.  A checkmark alone, to me at least, signifies "non issue," or "good inspection," not a corrected violation.  I would rethink the key/representation of violations.  Maybe create two symbols for violations- one for critical, one for non critical.  A corrected violation might be a non-critical violation symbol with a checkmark overlay. Fina

[2014-07-16 23:24] kwarkster opened #129 "Icon Key Idea"
Rather than having to scroll back to the top of the page to remember what the icons signify, it'd be nice to have alt-text pop up to remind me what they mean.

[2014-07-16 23:24] jalbertbowden commented on #120
this is easy with css. just as easy with jquery.
i have no clue about the angular syntax though. i can see where the toggle search function is set and being called, but i don't see where the jquery functions are.

[2014-07-16 23:25] kwarkster opened #130 ""Learn More" Alternative"
As a user, rather than only get restaurant name info on the initial scan of the map, I'd like to be able to scan my cursor over a restaurant and get it's name and some summary stats or a score on it's violations rather than go deeper down the "learn more" rabbit hole to get info.

[2014-07-16 23:28] jalbertbowden commented on #115
.modal-footer button{margin-left:auto; margin-right:auto; display:block}

[2014-07-16 23:30] kwarkster opened #131 "No Search Results Indicator"
There should be some indicator that the search criteria return no results.  Right now, when you enter in search criteria that return no results, nothing happens.  It think this makes it easy for users to assume that the app is broken, not that they needed to refine their search criteria.

[2014-07-16 23:40] kwarkster opened #132 ""About" Info"
It looks like the "open health inspection" icon is hyperlinked, but nothing happens when I click on it.  It'd be cool to let this serve as a link to the info you see when you first enter the page- instructions on how to use the app, info about the brigade, maybe some kind of mission statement for the app, etc.

[2014-07-16 23:40] bschoenfeld commented on #120
Angular encourages you to not use jquery. If you don't need things to run
when the page loads, it should be fine though. I've done it.

On Wednesday, July 16, 2014, albert notifications@github.com wrote:

[2014-07-17 00:12] jalbertbowden commented on #120
ok...but jquery's already on the page...
not arguing, just confused

target the input here, although a better way to do this would be to add a simple class like, search or search-box so you support even more browsers.
input[type="search"]:hover,input[type="search"]:active,input[type="search"]:focus{outline:1px dotted #000}

[2014-07-17 00:34] qwo opened #134 "Marker in the Zone"
Person marker in the middle makes the user experience is not too good.

A person makes user think that its a streetview marker and is not easy to recognize.

Similar to uber and lyft they have a pin in the middle. We should investigate removing it or changing it to a different icon like a pin.

[2014-07-17 00:52] qwo commented on #126
changing feature name to city quick jump

[2014-07-17 01:10] bschoenfeld commented on #120
Oops. Thought you said jquery wasn't there. My bad. +1 for CSS anyway

On Wednesday, July 16, 2014, albert notifications@github.com wrote:

[2014-07-17 02:37] jalbertbowden commented on #134
wow. nicely said.

but i do concur, it looks more like a feature to me...why not just make it a separate color from the marker pins....or better yet add some shadow or a little circle around the pin

[2014-07-17 12:51] qwo commented on #134
two thoughts on this.

This was user feedback from some brigade people at hacknight. @aimsrandom and katilyn were doing some usability studies and added a great amount of feedback on the issue tracker.

The idea of the marker is because its a UX mechanic borrowed from Lyft/Sidecar where you move your map and center it around your interest point and then hit "GO". We had to solve the problem of hel

[2014-07-17 13:03] wbprice opened #136 "Missing results"
![screen shot 2014-07-17 at 8 56 31 am](https://cloud.githubusercontent.com/assets/2590422/3612917/f75c9a94-0db1-11e4-801c-8e2f68486db4.png)
This is Town Center, VA Beach.  A lot of restaurants are missing.  The API call and response:

[code]

[2014-07-17 14:04] qwo commented on #123
hi @kwarkster could you list some of these restaurants that are popular and can't be found?

We can do some direct database queries to find out if they're there or theres some weird craziness happening. We can urbanspoon/yelp them to see how popular they are :) or directly check if they have histories.

It would be hilarious for us to uncover some restaurants that have been here for decades but no

[2014-07-17 15:02] qwo commented on #136
as iterated in IRC, it might be an issue with the records losing their long lat attributes in the database for whatever reason.

Tentatively it has been corrected by @ttavenner

Same issue as #131

[2014-07-17 15:09] qwo commented on #125
trying this

https://twitter.com/NorfolkDowntown/status/489768520817721344

[2014-07-17 15:11] wbprice opened #137 "Tweet this restaurants results"
by clicking a button on the restaurants inspection report.

[2014-07-17 15:15] wbprice commented on #129
This should already be happening.  Was it not working for you last night?
![screen shot 2014-07-17 at 11 14 52 am](https://cloud.githubusercontent.com/assets/2590422/3615072/32bffd52-0dc5-11e4-941c-a6b18c4ae7cf.png)

[2014-07-17 15:21] qwo commented on #137
+1 for this idea. Share the data. By proxy.
- LOOK AT THIS INSPECTION I FOUND.  {{Link}}
- What does this violation mean {{link}}
- Yes my restaurant is always ontop of our inspections {{link}}

[2014-07-17 15:23] ttavenner commented on #136
Yep, this turned out to be a database issue. It has been corrected now.

[2014-07-17 15:23] #136 closed, assigned to nobody

[2014-07-17 15:28] qwo commented on #129
so an on hover alt text was available? thats great. is this on the about modal or should it be?

did you find the alt text helpful @kwarkster? I also am interested how this behaves on mobile.

[2014-07-18 16:52] kwarkster commented on #123
Hey @stanzheng & @ttavenner  - Here are some popular restaurants in the Fan/Carytown/Shockoe Bottom areas- I really hope they've been inspected!

-Weezie's Kitchen
-Juleps
-Don't Look Back
-Comfort
-Heritage
-Galaxy Diner
-8 1/2
-Stella's
-Mezzanine
-Accacia

[2014-07-18 16:54] kwarkster commented on #129
Yeah- the alt-text is super helpful! It's working for me now- I was just impatient before.  Is there anyway to make it pop up faster than w/in 3+secs?

[2014-07-18 16:56] wbprice commented on #123
@kwarkster we recently fixed an issue where a lot of restaurants weren't being added to the database correctly.  I tried a couple of these a moment ago and was able to find them.

[2014-07-18 16:57] wbprice commented on #123
![screen shot 2014-07-18 at 12 57 20 pm](https://cloud.githubusercontent.com/assets/2590422/3629140/9cb26646-0e9c-11e4-9052-6cefbec2e83b.png)

[2014-07-18 16:59] jalbertbowden commented on #129
thats not going to work on mobile, ie where there is no :hover

[2014-07-18 17:01] qwo commented on #129
agreed if there a mobile oh hover solution, or make it an on:click event to get a tiny popup tooltip like we got before that would also be useful.

[2014-07-18 17:04] kwarkster commented on #123
Nice! Yep- most of the big ones are showing up now.  Still can't see Juleps though.

[2014-07-18 17:07] wbprice commented on #123
Is this one at the right address? http://openhealthinspection.com/#/vendor/53618ced05c6a22dc7b75dc4

[2014-07-18 17:13] kwarkster commented on #123
Yeah- on google maps it's listed at 1719 E Franklin.  I guess this goes back to being a little more generous with search criteria.  I get a hit with "Julep's" but not with "Juleps."  I think we need two new features- one that explicitly indicates when your search criteria return no results, and maybe another that suggests a different spelling if your search criteria are just a little off of the co

[2014-07-18 17:18] wbprice commented on #123
Agreed.  Error handling and improving search are going to be prioritized.

[2014-07-18 17:21] wbprice commented on #129
Longpress is pretty common in native apps.  We can implement this in vanilla JS:
http://stackoverflow.com/questions/2625210/long-press-in-javascript

[2014-07-18 17:33] jalbertbowden commented on #129
you can target non touch ua via:
if (!("ontouchstart" in document.documentElement)) {
    document.documentElement.className += " no-touch";
}
and just add .no-touch to the style sheet

also......isn't vanilla JS........just JS?
;)

[2014-07-18 17:46] ttavenner commented on #123
We might consider implementing a soundex search. I could generate soundex strings for vendor names and store them in the DB. That might be more useful than a basic regex search (what I'm doing now) and would be able to handle slight differences like apostrophes.

On the address front I have considered storing the SmartyStreets corrected address in the DB. Often the addresses in Healthspace are les

[2014-07-18 17:49] wbprice commented on #123
would it be easier to search by a version of the restaurant name without special characters (ie julep's --> juleps) and then remove special characters from the search string in the front end before making a call to the API?

[2014-07-18 17:55] ttavenner commented on #123
Not necessarily. The name of the restaurant in the database is 'Julep's' with an apostrophe. That is why it didn't come up when searching for 'Juleps'. So to simplify searching we would need to create a second field with all special characters removed. This is also the case for names like 'Caf&eacute;'. In terms of lift that isn't much different than creating a soundex field. I could probably hand

[2014-07-18 19:24] wbprice commented on #123
@ttavenner I'll defer to your judgement, especially where I don't have to do anything.

[2014-07-18 19:28] ttavenner commented on #123
Oh, I'll make sure it requires massive front-end conversion.

[2014-07-19 14:31] qwo commented on #125
Restaurant week almost done.
Thanks @thisispete for RT :) but I think we still need to go to the board room on promoting strategies

[2014-07-19 14:31] #125 closed, assigned to nobody

[2014-07-19 17:37] wbprice opened #138 "Help screen shouldn't appear on detail page."
I don't want to see the help screen and search results when coming from social media, for instance.

[2014-07-19 18:27] wbprice commented on #79
Like seriously, I'm working on this from a cafe and I literally cannot even.

[2014-07-19 18:58] wbprice commented on #120
addressed in #139

[2014-07-19 18:58] #120 closed, assigned to nobody

[2014-07-19 19:11] aimsrandom opened #140 "Icon hex colors"
Repeat & Critical:
background: #f18775
color: #cf2f36

Fixed during inspection:
background: #8dcc8d
color: #3c9542

![ohi_icon_colors_screenshot](https://cloud.githubusercontent.com/assets/7144451/3635516/7aec83d4-0f78-11e4-8290-e5c63fe01d3a.png)

[2014-07-19 19:53] wbprice commented on #140
resolved in #142

[2014-07-19 19:53] #140 closed, assigned to nobody

[2014-07-19 20:03] wbprice commented on #138
resolved in #143

[2014-07-19 20:03] #138 closed, assigned to nobody

[2014-07-19 20:10] wbprice commented on #73
That specific issue has been resolved recently.

[2014-07-19 20:10] #73 closed, assigned to nobody

[2014-07-19 20:34] qwo commented on #132
Hi,

I think traditionally the experience is to use this as a way to jump to the "home" of the application or go back to the original screen.

This performs as normal but if you think there is better notation we could add or link in the introduction modal let us know!

[2014-07-19 20:34] #132 closed, assigned to nobody

[2014-07-19 20:36] qwo commented on #50
latest version of the app has restaurant numbers in search results.

[2014-07-19 20:36] #50 closed, assigned to nobody

[2014-07-19 20:37] qwo commented on #51
being solved in #105

[2014-07-19 20:37] #51 closed, assigned to nobody

[2014-07-19 20:48] qwo opened #144 "Previews on Social Media"
![screenshot 2014-07-19 16 48 11](https://cloud.githubusercontent.com/assets/3683993/3635703/0dc93ca8-0f86-11e4-8343-fc84d4bc6901.png)

Add meta tags so social networks can have previews.
https://dev.twitter.com/docs/cards
http://davidwalsh.name/facebook-meta-tags

[2014-07-19 20:55] qwo commented on #128
related to #129 for changing the icon to more intuitive meanings

[2014-07-19 20:55] #128 closed, assigned to nobody

[2014-07-19 20:56] qwo commented on #127
it seems like this may of been for some of the blank entries in the search results we were facing.

Blank entries have been removed, if this user experience persist please reopen

[2014-07-19 20:56] #127 closed, assigned to nobody

[2014-07-19 20:57] #123 closed, assigned to nobody

[2014-07-19 20:57] #115 closed, assigned to nobody

[2014-07-19 21:14] qwo commented on #130
addressed in #145 for people to get more involved in c4hrva

[2014-07-19 21:14] #130 closed, assigned to nobody

[2014-07-19 21:18] qwo commented on #68
if there is a query parameter for mongo for the distance for geospatial distance, let the zoo level be a multiplier maybe for how far we're search.

I know its capped by # of results and distance but maybe we could do something of the sort of.

Default zoom level 10, 1000 meters, cap 25 results

If zoom in to 11, x by 1.25 for each zoom out and do a linear increase. These numbers are just guestima

[2014-07-19 21:24] wbprice commented on #122
addressed in #146

[2014-07-19 21:24] #122 closed, assigned to nobody

[2014-07-19 21:32] wbprice commented on #131
addressed in #146

[2014-07-19 21:32] #131 closed, assigned to nobody

[2014-07-19 21:33] #59 closed, assigned to nobody

[2014-07-19 21:33] #57 closed, assigned to nobody

[2014-07-19 21:33] #84 closed, assigned to nobody

[2014-07-19 21:34] qwo opened #147 "1.2 Release"
Release largely adopting Open Street Maps and Leafet and switching away from Google

[2014-07-19 21:34] #147 closed, assigned to nobody

[2014-07-20 14:09] qwo commented on #137
i thought we might of been going with "share with" buttons for twitter and not an account although we could do "share with via @openhealthva" handle

[2014-07-20 14:11] wbprice commented on #137
I'm moving quickly and breaking things this morning.  I thought it was necessary to create an account to set up the cards, and it looks like it's not.  If the account isn't needed for this issue, I'll delete the account.

[2014-07-20 14:13] qwo commented on #137
LOL i mean keep it, i mean setting up twitter accounts is a pain the ass worse thing is it just sits aorund

[2014-07-20 14:16] wbprice commented on #137
Sidebar, internet at Panera is terrible this morning.

[2014-07-20 14:16] qwo commented on #137
Which Panera? Aren't they always terrible. Free wifi always has it price, usually mental anguish.

[2014-07-20 14:25] wbprice commented on #144
Already set up for Facebook.  Created and submitted dev card for Twitter (pending approval) in #148

[2014-07-20 14:25] #144 closed, assigned to nobody

[2014-07-20 14:28] wbprice opened #149 "Handle restaurants that don't have data."
Example: http://openhealthinspection.com/#/vendor/moes-southwest-grill-7550-granby-st-40

Display a message that says: "We couldn't find any inspections for this restaurant." or something similar.

[2014-07-20 14:59] wbprice commented on #149
addressed in #150.

[2014-07-20 14:59] #149 closed, assigned to nobody

[2014-07-21 11:35] wbprice commented on #137
Town Center.  Closed a bunch of issues over a bagel and some coffee, so can't complain too much.

[2014-07-21 11:36] wbprice commented on #126
I'm thinking pick city name from dropdown, supply zipcode. The interface for this will be tied in with #89.

[2014-07-21 11:38] wbprice commented on #129
What if the green were instead a yellow (ochre or something).  I'd read that less as a solid "pass" and more as "caution", which is probably closer to what we're looking for anyway.

[2014-07-22 03:43] kwarkster commented on #129
That sounds like a solid idea to me.

[2014-07-31 11:57] wbprice commented on #137
![screenshot from 2014-07-31 07 56 57](https://cloud.githubusercontent.com/assets/2590422/3763904/df84fa76-18a9-11e4-82e5-be59a3166383.png)
Progress on this.

[2014-07-31 15:58] kmcurry commented on #137
"worse thing is it just sits aorund"

That's actually a pretty bad thing.

On Sun, Jul 20, 2014 at 10:13 AM, Stanley Zheng notifications@github.com
wrote:

##

Kevin Curry
Virginia Beach, VA
http://www.linkedin.com/in/kevincurry

[2014-07-31 15:59] kmcurry commented on #137
:thumbsup:

On Thu, Jul 31, 2014 at 7:57 AM, W. Blaine Price notifications@github.com
wrote:

##

Kevin Curry
Virginia Beach, VA
http://www.linkedin.com/in/kevincurry

[2014-07-31 16:02] wbprice commented on #137
Peter had a cool idea last night related to using the account: tweet links to the reports of restaurants every so often.

[2014-08-01 11:42] wbprice commented on #137
Original issue addressed in #151

[2014-08-01 11:42] #137 closed, assigned to nobody

[2014-08-01 11:49] wbprice commented on #98
So the pseudocode for this:
1. When map center is x meters away from previous call:
2. Make a second geosearch call, and add the results to the end of an array.
3. Sort that array by distance from my current location
4. Use it to draw appropriate map pins
5. Use it to populate the list
6. Enforce a maximum array size and clear out old results as new ones arrive.

Will need to account for zoom leve

[2014-08-01 11:55] wbprice commented on #126
There's a need to provide an interface for people who refuse geolocation so they can continue to use the app.

[2014-08-01 12:06] wbprice opened #152 "Logo - replace spoon with fork."
At the advice of people (like Noel) who do design for a living.

[2014-08-07 00:23] wbprice commented on #129
Reference for Angular longpress. https://gist.github.com/BobNisco/9885852

[2014-08-07 00:30] aimsrandom opened #153 "Kitttttyyyyyyyyyyy"
![cat_inspector_v2](https://cloud.githubusercontent.com/assets/7144451/3835983/03d00568-1dca-11e4-83a5-49334a0ff95b.png)

[2014-08-07 00:43] wbprice commented on #153
:thumbsup:

[2014-08-07 00:45] wbprice commented on #93
I don't see an issue here.

[2014-08-07 00:45] #93 closed, assigned to nobody

[2014-08-07 00:46] ghost commented on #153
[This](https://xkcd.com/231/).

[2014-08-07 00:50] ghost commented on #153
Also, welcome to the Scottish fold, Purrlock!

[2014-08-07 01:38] kmcurry commented on #153
YES! YES! YES!

On Wed, Aug 6, 2014 at 8:50 PM, Ryan Y. notifications@github.com wrote:

##

Kevin Curry
Virginia Beach, VA
http://www.linkedin.com/in/kevincurry

[2014-08-07 07:29] qwo commented on #153
Very cool

[2014-08-07 11:38] wbprice opened #154 "Add kitty to social media preview image."
#153

[2014-08-09 20:14] wbprice commented on #153
Addressed in #155

[2014-08-09 20:14] #153 closed, assigned to nobody

[2014-08-09 20:14] wbprice commented on #154
Addressed in #155

[2014-08-09 20:14] #154 closed, assigned to nobody

[2014-08-10 14:20] wbprice opened #156 "Do we need an open source license for this?"
I don't have any specific experience navigating the various public licenses out there, and not sure if we need to use GPLv3, MIT, WTFPL or what have you.

[2014-08-10 14:27] jalbertbowden commented on #156
lol as much as i love wtfpl, i wouldn't use it here....not sure about the other two.
you could always use cc and release it to public domain....

[2014-08-10 15:28] ttavenner commented on #156
Yes, giving it some kind of license is a good idea. It lets you dictate the terms of how the code is used. A Creative Commons attribution or non-commercial license would be fine (depending on whether you care about commercial vs. non-commercial use of your code). A GPL license is probably fine as well. The MIT license is useless except as a CYA measure (because of the 'as is' clause.

[2014-08-10 23:17] wbprice commented on #89
Addressed in #157

[2014-08-10 23:17] #89 closed, assigned to nobody

[2014-08-10 23:17] wbprice commented on #126
Addressed in #157.  Still some room for refinement, but it's working.

[2014-08-10 23:17] #126 closed, assigned to nobody

[2014-08-11 00:08] wbprice commented on #152
Proposed new logos:
![logo-big](https://cloud.githubusercontent.com/assets/2590422/3871038/824d21cc-20eb-11e4-8772-48f5181e4e23.png)
![logo](https://cloud.githubusercontent.com/assets/2590422/3871039/82575d9a-20eb-11e4-9abe-106d8aadf9ae.png)

[2014-08-11 00:36] jalbertbowden commented on #152
looks good dude

[2014-08-11 00:51] wbprice commented on #152
Addressed in #158

[2014-08-11 00:51] #152 closed, assigned to nobody

[2014-08-11 00:52] wbprice commented on #129
Partially addressed by #159.  Corrected during inspection is now yellow.  Still looking into longpress.  It's less common on mobile web so might not do it after all.

[2014-08-11 15:46] ghost commented on #156
Let me count the code length.  If you have under 300 sloc, I'd say Apache 2.0, otherwise GPLv3.  For the API and scraper, I'd say Affero GPLv3.  My suggestions.

EDIT: Yeah, _easily_ GPLv3.  You should include the header in each HTML/CSS/JS file and make a license web labels page for the dependencies and any minified code.

[2014-08-13 11:54] wbprice opened #160 "Search button does not do anything"
Search API never actually made.  Still works when hitting return on keyboard.

[2014-08-13 11:55] wbprice commented on #156
In that case, unless there are any objections, 1.1 is going out with a GPL v3 license.

[2014-08-23 22:12] aimsrandom opened #161 "Symbol key updates"
![open_health_key](https://cloud.githubusercontent.com/assets/7144451/4021998/a04c29ee-2b12-11e4-8860-a64b83a52586.png)

[2014-08-27 23:26] wbprice commented on #160
closed in #164!

[2014-08-27 23:26] #160 closed, assigned to nobody

[2014-08-27 23:53] wbprice commented on #156
Addressed in #165 by @ryayak1460

[2014-08-27 23:53] #156 closed, assigned to nobody

[2014-08-28 00:31] ttavenner opened #166 "Inspections not listing in date order"
I just noticed inspections don't like in order of date. I think this might be because the API is returning the date as a string, but you can let me know.

[2014-08-28 17:36] wbprice commented on #166
As far as I know, the front-end isn't doing anything to sort the inspections by date, it's just displaying the data in the order returned by the API call.

[2014-08-28 17:53] wbprice opened #167 "Implement scoring system"
Restaurant scores are now in the API!
-Add ability to sort by score and distance (cleanest restaurants near me)
-Add score to restaurants in listview
-Add score to restaurant detail page (score for individual inspections)

[2014-08-31 13:28] wbprice opened #168 "Map should wait to render until coordinates are received."
https://www.youtube.com/watch?v=llDikI2hTtk

[2014-08-31 13:54] wbprice commented on #166
@ttavenner I haven't seen this happen in the wild.  Did you change the API?

[2014-08-31 14:05] ttavenner commented on #166
No. Check out Happy Family: http://openhealthinspection.com/#/vendor/happy-family-restaurant-3050-clinch-street

Scroll down past 30-Aug-2012.

[2014-08-31 14:06] wbprice commented on #166
That restaurant is so toxic that it's causing data quality issues?

[2014-08-31 14:14] ttavenner commented on #167
Here is a short and (hopefully) user friendly description of the methodology:

First the fine print:
This scoring system was designed by volunteers at Code for Hampton Roads. It was not provided by the Virginia Department of Health and should not be considered official. These scores are for informational purposes only.

Now the nitty gritty:
Each inspection contains a score based on the number of

[2014-08-31 20:26] wbprice commented on #167
@ttavenner I think the database is missing a lot of scores.  Here's a screenshot:
![screen shot 2014-08-31 at 4 21 26 pm](https://cloud.githubusercontent.com/assets/2590422/4103156/e2aaecd6-314c-11e4-8de8-0da0aed7dc5e.png)
In dev tools, the response from the API doesn't include the score.

[2014-09-01 00:47] wbprice commented on #161
addressed in #169

[2014-09-01 00:47] #161 closed, assigned to nobody

[2014-09-01 00:59] wbprice opened #171 "Firefox rendering issues."
![firefox-issues](https://cloud.githubusercontent.com/assets/2590422/4103917/b764abc4-317a-11e4-9134-21ab14b7ae25.png)
1. Disclaimer being cut off
2. Extra material hanging from action car
3. Scrollbar detached from cards.

[2014-09-02 02:57] wbprice opened #172 "Implement CfA Engine Light"
So if something goes sideways we'll know sooner.

[2014-09-02 02:59] wbprice commented on #167
Changing siport mode deserves it's own issue, but the rest of this is finished.

[2014-09-02 02:59] #167 closed, assigned to nobody

[2014-09-02 11:55] wbprice opened #173 "Bump up markup by one breakpoint"
The menu is too thin to be usable on 7" tablets (landscape orientation)

[2014-09-03 17:53] wbprice opened #174 "Add more cities to city jump list."
-There are a few more cities in VA than are in the app now.  @stanzheng will fix.
-Add textbox and fuzzy filtering to city jump menu.

[2014-09-03 20:06] bschoenfeld opened #175 "Establishments with the same lat long are not all shown on map"
http://openhealthinspection.com/#/vendor/top-of-the-stairs-217-college-avenue
http://openhealthinspection.com/#/vendor/jimmy-johns-217-college-avenue

These two places have the same lat long. Only one marker is drawn and it only lets you see one of them. To get to the other one, you have to search for it by name.

[2014-09-03 20:09] bschoenfeld opened #176 "Improve Search: Filter By City"
When I search for Jimmy Johns, it would be nice to see the city along with the address. Better yet, I'd like to search for Jimmy Johns in Blacksburg. There are lots of them in Virginia.

[2014-09-03 20:10] bschoenfeld opened #177 "Improve Search: Ignore Punctuation"
Searching for `Jimmy Johns` returns completely different results than searching for `Jimmy John's`

[2014-09-10 16:17] BretFisher commented on #167
I see lots of 100's, which I'm doubting. Do we have known issues or should we start flagging specific restaurants for a 2nd look in db/code. I'm happy to help with that work, just need some helpers on where to start.

[2014-09-10 16:33] ttavenner commented on #167
I'm wondering if we should provide links directly to the Healthspace data (this is stored in the DB for quality checks and matching, just not exposed on the front end). This is what I do whenever I have a question. But the short answer to your question is that you can check the scores by just looking at the inspections in the app. They will get a 100 if they don't have any violations in a given in

[2014-09-10 17:11] ttavenner commented on #177
This is something that would need to be implemented in the API. We probably need to create a search string or slugify the search query and search the slugs used for the URL.

[2014-09-10 17:45] kmcurry commented on #167
Given the explanation, the math for this Matsu does not compute or I still
don't understand:
http://openhealthinspection.com/#/vendor/matsu-sushi-japanese-restaurant-4392-holland-road-107

I think the 95 rating should be a 97:
100 start
-2 violation
-1.5 critical
+.5 fixed during

And then should the 100 overall go down a little?

On Wed, Sep 10, 2014 at 12:33 PM, Tommy Tavenner notifications@gith

[2014-09-10 19:14] ttavenner commented on #167
The third inspection has 2 violations, so that would be:
-2 (x2) violation = -4 pts.
-1.5 (x1) critical = -1.5 pts.
+.5 (x1) fixed during inspection = +0.5

for a total of 5 pts. giving them a 95 for that inspection.

The weighting is 60%/30%/10%. which would be:
100pts x .6 = 60
100pts x .3 = 30
95pts x .1 = 9.5

for a total of 99.5. That is the score in the API, but I suspect some rounding is ha

[2014-09-10 19:15] wbprice commented on #167
That's correct.  I should look at rounding down or adding at least two digits to the score displayed.

[2014-09-10 19:45] ttavenner commented on #167
The api provides 1 decimal digit, so adding a digit would probably be the
way to go.

[2014-09-10 19:53] BretFisher commented on #167
I’m getting feedback from friends (and myself) using this app that suggests
the scoring is too high or “forgiving”. For a restaurant to have multiple
major issues in multiple inspections and still grade a 90 may be an issue.
I would think most people associate a 90 as “great” (A-). Sorry I wasn’t
part of the “formula” conversation all along so I don’t know how we came to
the current one, and don’t

[2014-09-10 20:55] qwo commented on #167
@BretFisher this sounds like a good topic tonight. I think the simple scoring tommy uses is based off of similar criteria New York City uses.. (although i could be wrong).

I think the scoring is somewhat fair in respect to restaurant scores. I think its hard to think about it when we're talking about a 'score' out of 100.

Realistically a majority of restaurants should score between 60-100 with t

[2014-09-11 00:15] aimsrandom opened #182 "Score is interpreted as an official score"
In the score, perhaps replace "Overall Rating" with "Our Score"

screenshot:

![ohi-score-update](https://cloud.githubusercontent.com/assets/7144451/4227596/c767ebfa-3948-11e4-85d8-51711bf9b3f3.jpg)

[2014-09-11 00:20] kmcurry commented on #182
:thumbsup: smart suggestion

On Wed, Sep 10, 2014 at 8:15 PM, aimsrandom notifications@github.com
wrote:

##

Kevin Curry
Virginia Beach, VA
http://www.linkedin.com/in/kevincurry

[2014-09-11 00:47] aimsrandom opened #184 "Upon first visit, the map can take a while to load"
From usability testing, when the user first visited the site, the map was taking a while to load, but the user wasn't aware of that.  He just started clicking around on the icons.

Perhaps show a loading icon or bar while the map is loading?

[2014-09-11 00:49] aimsrandom opened #185 "Open the scoring system link in a new tab"
From usability testing, the user wasn't aware that it didn't open in a new tab, and he closed the browser to return to OHI.

[2014-09-11 01:31] kmcurry commented on #184
The more I use it the less I want the map.

When I open the app I want to look up a restaurant.

"We're thinking about going to Kanpai or Matsu for sushi. Let's look those up on OHI."

[2014-09-11 01:37] wbprice commented on #184
@kmcurry It would certainly improve performance not to use the map on mobile.

[2014-09-11 01:42] wbprice commented on #174
fixed by @stanzheng in some previous commit.

[2014-09-11 01:42] #174 closed, assigned to nobody

[2014-09-11 01:46] wbprice commented on #184
@aimsrandom can you start thinking about what the app would look like if we were to remove the map altogether?

[2014-09-11 02:04] wbprice commented on #173
addressed in #186

[2014-09-11 02:04] #173 closed, assigned to nobody

[2014-09-11 02:19] wbprice commented on #182
addressed in #187

[2014-09-11 02:19] #182 closed, assigned to nobody

[2014-09-11 02:21] #129 closed, assigned to nobody

[2014-09-11 02:25] wbprice commented on #185
addressed in #188

[2014-09-11 02:25] #185 closed, assigned to nobody

[2014-09-11 02:29] wbprice opened #189 "There should be a "back to me" button"
That performs geolocation (or grabs saved coordinates) and makes a new geosearch from the phones location.

[2014-09-11 02:34] wbprice opened #190 "Some scores aren't rounded."
In theory, all scores should be getting rounded before being printed to the search results. In queries with lots of results some scores are unrounded.  This breaks the layout.

[2014-09-11 14:35] aimsrandom commented on #184
@wbprice sure thing, I'll have something for us to collaborate on next wednesday

[2014-09-25 00:42] wbprice opened #191 "Refactor all the things."
Controller Hierarchy
Search Bar
- GeoSearch
- Name Search
- Message Tray

Main Area
- Restaurant Details
- Search Results
- City Jump

[2014-10-02 00:44] wbprice commented on #176
This is being worked on at next.openhealthinspection.com

[2014-10-07 18:19] aimsrandom opened #193 "Desktop View for Restaurant Listings"
![ohi_desktop_home](https://cloud.githubusercontent.com/assets/7144451/4547548/120733a4-4e4e-11e4-9d27-f77cbbca9dbe.png)

The rating colors here are okay (the green, red, and mustardy yellow) - I suggest using the hex values for the ones you currently use for scores.

For the "View More" arrow icon, I believe you can pull that from the font icon repository you're using now.

I think the only scena

[2014-10-07 18:24] wbprice commented on #193
<3

[2014-10-09 23:30] ttavenner opened #195 "Vendors with no inspections don't have a card"
See for instance O'Connor's: http://openhealthinspection.com/#/vendor/oconnor-brewing-co-211-w-24th-st

The close button [x] shows up but nothing else. I get the same results in several different browsers and in mobile.

[2014-10-12 13:28] wbprice commented on #195
In that specific instance, the API is returning a 500 error.  http://api.openhealthinspection.com/inspections?vendorid=oconnor-brewing-co-211-w-24th-st

[2014-10-12 14:00] ttavenner commented on #195
Huh, though I had checked that, but this one is one my side.

[2014-10-12 14:01] #195 closed, assigned to nobody

[2014-10-23 00:18] wbprice opened #202 "Fallback search in this area"
For example, if I search for Waterman's in Norfolk it isn't found.  If initial search fails, repeat again without a distance limit.

[2014-10-23 00:18] wbprice opened #203 "Loading Screen"
Initial load takes a few seconds.  Add a message or spinner or something.

[2014-10-23 15:42] ghost opened #204 "Firefox Rendering Issues"
As of this posting, OHI next doesn't render appropriately in Firefox 35.0a2 (2014-10-21) on Windows 7 64-bit.
![ohinext](https://cloud.githubusercontent.com/assets/5629268/4756103/ed180cf6-5aca-11e4-827c-187f97214f01.png)

I have disabled Google Analytics and allowed everything else.

[2014-10-23 15:59] ghost commented on #116
Next?

[2014-10-23 16:03] ghost commented on #203
Possibly related to #184?

[2014-10-23 16:08] wbprice commented on #203
It's faster without maps but still not instantaneous. :)

[2014-10-23 16:09] wbprice commented on #116
Doubtful.  I'm reducing scope and maps are getting cut for now.

[2014-10-23 16:09] ghost commented on #203
Okay, so not.  Just trying to determine if one of these duplicated the other.

[2014-10-23 16:11] ghost commented on #116
Ah, right, forgot.  Completely?

[2014-10-23 17:00] wbprice commented on #116
1.3 maybe? The current plan is to consider the app stable after 1.2 ships.

[2014-10-23 17:02] ghost commented on #116
Okay.  Next falls outside of 1.2 or do they equal each other?

[2014-10-23 17:02] ghost commented on #116
#fitshipit

[2014-10-23 22:33] wbprice commented on #68
See also: driving down I264 at 60mph.

[2014-10-23 22:53] qwo commented on #68
uh. dangerous edge case. no fix :)

[2014-11-03 00:56] wbprice commented on #202
Addressed in #206 in next branch.

[2014-11-05 02:48] wbprice commented on #202
Addressed in #207

[2014-11-05 02:48] #202 closed, assigned to nobody

[2014-11-05 02:49] wbprice commented on #193
Addressed in #207

[2014-11-05 02:49] #193 closed, assigned to nobody

[2014-11-05 02:49] wbprice commented on #191
Addressed (enough) in #207

[2014-11-05 02:49] #191 closed, assigned to nobody

[2014-11-05 02:49] wbprice commented on #189
Addressed in #207

[2014-11-05 02:49] #189 closed, assigned to nobody

[2014-11-05 02:50] wbprice commented on #184
Addressed in #207 by removing the map.

[2014-11-05 02:50] #184 closed, assigned to nobody

[2014-11-05 02:50] wbprice commented on #176
Addressed in #207

[2014-11-05 02:50] #176 closed, assigned to nobody

[2014-11-05 02:50] wbprice commented on #68
Addressed in #207

[2014-11-05 02:50] #68 closed, assigned to nobody

[2014-11-05 02:51] wbprice commented on #79
Addressed in #207

[2014-11-05 02:51] #79 closed, assigned to nobody

[2014-11-05 02:51] wbprice commented on #171
Duplicate of similar issue.

[2014-11-05 02:51] #171 closed, assigned to nobody

[2014-11-05 02:53] #53 closed, assigned to nobody

[2014-11-05 02:53] #98 closed, assigned to nobody

[2014-11-05 02:53] #99 closed, assigned to nobody

[2014-11-05 02:53] #116 closed, assigned to nobody

[2014-11-05 02:53] #134 closed, assigned to nobody

[2014-11-05 02:53] #168 closed, assigned to nobody

[2014-11-05 02:53] #175 closed, assigned to nobody

[2014-11-05 02:53] #74 closed, assigned to nobody

[2014-11-05 02:53] #105 closed, assigned to nobody

[2014-11-05 13:42] ttavenner commented on #177
This was addressed by [Code4HR/open-health-inspection-scraper@a3874637](https://github.com/Code4HR/open-health-inspection-scraper/commit/a38746375cf4ed22497c312e6aed11276e8f1bf0) and [Code4HR/open-health-inspection-api@327e711](https://github.com/Code4HR/open-health-inspection-api/commit/327e7112986613d56179913778655b6105c13ce0)

[2014-11-05 13:42] #177 closed, assigned to nobody

[2014-11-05 17:57] ghost commented on #204
Not sure if this helps, but I tested this from my work computer which has an out-of-state network, and I did in my console log on Firefox get the following error logs:

[code]

Maybe this issue stems from out-of-state visitors?

**EDIT**: Got the same error messages for the current live deployment as well.

[2014-11-05 18:34] wbprice commented on #204
I can't replicate the above in Firefox 32.x (OSX).  I'll try again when I get home.  Aside from that, it looks like the fallbacks for geolocation failure were broken at some point in the past.

[2014-11-05 18:35] ghost commented on #204
Possibly.  Not sure how much OS X Firefox differs from the Windows version, but worth a shot.

[2014-11-06 01:48] aimsrandom opened #208 "Fixer Upper for Purrlock"
So, Purrlock's white border needed some cleaning up (see http://puu.sh/cF06n/32115be087.jpg).  Attached is the cleaned up version.

Also, @ttavenner had an amazing idea to give him a talk bubble that says, "O HI".  That's the next phase of this graphic.

![cat_inspector](https://cloud.githubusercontent.com/assets/7144451/4929690/dc22e628-6556-11e4-813b-43faea8ecd32.png)

[2014-11-06 18:25] wbprice commented on #208
lol, sounds good.

[2014-11-14 08:03] qwo opened #209 "Geofencing broken, reoccuring popups"
geolocation to location outside of VA geofencing breaks app. There is an alert somewhere that keeps running until it finds results.

`alert(" no restaurants within ... xxx" expanding search")`
repeats multiple times.

[2014-11-14 08:04] qwo commented on #209
IN Within undefined mi.

[2014-11-14 14:44] wbprice commented on #209
Gross. I think adding unit testing will help prevent this kind of regression in the future.

[2014-11-14 15:13] qwo commented on #209
i mean just ctr + f for 'alert' and remove that in a loop.

On Fri, Nov 14, 2014 at 6:44 AM, W. Blaine Price notifications@github.com
wrote:

##

Stanley Zheng

[2014-11-14 15:54] ghost commented on #209
@wbprice: :+1:

[2014-11-14 17:24] ghost commented on #209
Looks like #210 and #211 corrected this.

[2014-11-16 21:08] wbprice commented on #209
Not really.  We could remove the alert to match the behavior of the name search function.  I tested this in Richmond over the weekend and it was a little annoying.

[2014-11-16 21:09] wbprice opened #212 "When linking to restaurant, geolocation happens and forces user back to home page"
Solution: only perform geolocation when at /#.

[2014-11-16 21:24] wbprice commented on #204
As we discovered in #209/#210, geolocation failure wasn't being handled correctly.  The scrollbars are a consequence of using 'overflow: auto;' where we ought to be using 'overflow: visible'.

Reference:
https://developer.mozilla.org/en-US/docs/Web/CSS/overflow

[2014-11-16 21:26] wbprice opened #213 "Revert to 1280 grid for desktop+ resolutions"
On larger screens, the cards don't have the best proportions.  Revert to using a fixed width grid a la Twitter/Facebook.

[2014-11-16 21:29] wbprice commented on #213
There are two+ instances where a container div has a class of .container-fluid.   Replace with .container

[2014-11-17 02:05] wbprice commented on #204
Fixed in #215.

[2014-11-17 02:05] #204 closed, assigned to wbprice

[2014-11-17 02:06] wbprice commented on #212
Fixed in #215.

[2014-11-17 02:06] #212 closed, assigned to nobody

[2014-11-17 02:06] wbprice commented on #209
Fixed in #215.

[2014-11-17 02:06] #209 closed, assigned to nobody

[2014-11-17 02:07] wbprice opened #216 "cityJump bugs"
- Why don't the lines separating city names appear on desktop?
- If user decides not to jump to a city and then hits 'Results near me' button, nothing appears.
- Provide a way to close city jump drop down by clicking away (as with a modal window)

[2014-11-17 03:24] wbprice commented on #216
Ideally, city jump will appear over existing search results as happens when viewing restaurant detail page.  The functions that govern when specific menus are available should be adjusted for this.

[2014-11-17 23:12] wbprice opened #217 "Improve impression of loading time"
Instead of loading all restaurant preview cards / inspections / search results in one large API call, make several smaller calls and extend additional data to first call.  User will get some data immediately while the rest loads in the background.

[2014-11-18 02:46] wbprice commented on #213
Fixed in #218

[2014-11-18 02:46] #213 closed, assigned to nobody

[2014-11-18 02:48] wbprice opened #219 "Provide a way for the user to expand the search radius"

[2014-11-18 02:53] wbprice opened #220 "Handle Search by City failures more gracefully."
At the moment, the app falls into an infinite loop of API calls.

[2014-11-22 22:38] wbprice commented on #220
Addressed in #221

[2014-11-22 22:38] #220 closed, assigned to nobody

[2014-12-04 00:20] wbprice commented on #219
Addressed in #226

[2014-12-04 00:20] #219 closed, assigned to nobody

[2014-12-04 00:27] wbprice commented on #208
@aimsrandom I don't have a Photoshop license handy and I'm rubbish with GIMP.  Can I delegate making a new social media splash image to you?

[2014-12-04 00:31] wbprice commented on #190
We're generally making smaller queries now, so this is no longer an issue.

[2014-12-04 00:31] #190 closed, assigned to nobody

[2014-12-04 01:57] wbprice commented on #216
Addressed in #228

[2014-12-04 01:57] #216 closed, assigned to nobody

[2014-12-04 01:58] wbprice commented on #208
addressed in #227

[2014-12-04 01:58] #208 closed, assigned to nobody

[2015-01-29 12:42] wbprice opened #230 "Use Modal to let user choose if geolocation happens"
Right now the app just assumes that the user wants to use geolocation and knows how to use it.  Have a fall back of zip, intersection, city, etc.

[2015-02-12 00:49] stanzheng opened #231 "Return less results"
Too many results are returning, please return less

[2015-02-12 00:50] #231 closed

[2015-02-14 14:30] wbprice opened #233 "Search (beyond 6 miles) is broken"
If a user searches for something that doesn't exist within 6 miles, the process fails.  Existing code for writing search queries is a kludge.  Please refactor.

[2015-02-14 15:14] wbprice commented on #233
Fixed in #234.

[2015-02-14 15:14] #233 closed

[2015-02-14 19:19] wbprice opened #240 "Improve search interface"
Rebuild existing search interface into something less hacky, using native HTML elements where possible.

Should allow user to search by:
* name
* city

Limit results by:
* proximity
* score

[2015-03-09 23:29] wbprice commented on #230
Partially addressed in #244 and #243.  Some overlap with #240

[2015-03-09 23:29] #230 closed

[2015-03-10 00:40] wbprice opened #246 "Make a diagram of all the components of this thing."
If you can.

[2015-03-12 17:24] wbprice opened #249 "Optimize Delivery"
Make fewer HTTP requests:
* Use Grunt to concat/minify JS and CSS.
* Inline dependencies using require()

[2015-03-18 20:33] wbprice opened #251 "Use typeahead for City Jump"
Instead of selecting city name from dropdown, autocomplete to city name.
http://angular-ui.github.io/bootstrap/#/typeahead

[2015-04-02 00:26] #172 closed

[2015-04-02 00:29] qwo commented on #172
i think implementing an out of the box service like pingdom might be simpler if needbe https://www.pingdom.com/

[2015-04-12 22:06] wbprice opened #252 "iOS - Visiting a restaurants detail page redirects to the home page."
Reported by @bschoenfeld and replicated in iOS simulator.

Visiting this in Simulator...
[code]
...causes the browser to redirect to the home route.

[2015-04-13 16:47] bschoenfeld commented on #252
I got this on Safari too.

![ohi-bug](https://cloud.githubusercontent.com/assets/565347/7120436/34ae489a-e1db-11e4-9c83-f2357e68b40c.gif)

[2015-04-18 15:48] wbprice commented on #252
@bschoenfeld are you able to replicate here?

[code]

[2015-04-18 16:10] #252 closed

[2016-08-17 16:55] stanzheng opened #263 "Update Smarty Streets API Url"
Geocoding url might have changed or needs to be rewhitelisted

`404` https://api.smartystreets.com/zipcode?auth-id=3528212138785631906&city=&state=&zipcode=undefined

[2016-08-24 15:09] wbprice commented on #263
Fixed in #265

[2016-08-24 15:09] #263 closed

[2016-09-27 23:30] ttavenner commented on #166
Fixed in #266

[2016-09-27 23:30] #166 closed

[2016-10-03 16:43] stanzheng opened #268 "Float rounding on scores"
List view shows non-rounded floats on scores.

![screenshot 2016-10-03 12 43 21](https://cloud.githubusercontent.com/assets/3683993/19045466/f359fb16-8966-11e6-98a5-b9fffdf3a333.png)
## Requirements
- Javascript Angular 1.3+
## Steps to reproduce
1. go to ohi.code4hr.org
2. Query for ZIP "23510" and query for restaurant "brick" see below.

Steps to verify
- The above reproduction shows the correct

[2016-10-03 17:02] wbprice commented on #268
I remember this being really hard to figure out for some reason in 2014!

[2016-10-03 17:20] qwo commented on #268
haha ill try and tackle this if its just not a `.toPrecision` thing.

[2016-10-03 17:23] wbprice commented on #268
Rounding to the nearest whole number under is fine.  I don't think we have two-digit floats anywhere else in the app.

[2016-10-03 19:56] qwo commented on #268
ahh attempted to substitute
`{{restaurant.score ? (restaurant.score | number:0) : 0}}<` here which solved the rounding issue however it broke it for n/a defaulting it to 0.

ill revisit payload later not huge priority.
https://github.com/Code4HR/open-health-inspection-app/blob/gh-pages/js/modules/results/templates/result--template.html#L13

[2016-11-04 21:48] kmcurry opened #269 "GPS search doesn't work"
When I'm at a restaurant and I want to check it's score I need to use GPS search my mobile. When I click the GPS button nothing happens. I tried Safari and Chrome on iPhone

[2016-11-04 23:44] qwo commented on #269
Strange I just tested on Nexus 6p and chrome just now hmm anyone else
confirm?

On Fri, Nov 4, 2016, 5:48 PM Kevin Curry notifications@github.com wrote:

[2016-11-04 23:46] qwo commented on #269
I just tested on iPhone 5s also did you hit now allow?

On Fri, Nov 4, 2016, 7:44 PM Stanley Zheng szhen002@gmail.com wrote:

[2017-05-22 19:38] kmcurry opened #270 "Link to zip code or lat-lon"
As someone who shares local community info, I would like to link to OHI results near my 'hood, i.e., by zip code.

Make the zip code I provide on the launch form part of the URL:
https://ohi.code4hr.org/#/23452

[2017-05-22 20:09] kmcurry commented on #269
This is working for me, too. Delay on results and I didn't realize it was doing something.

[2017-05-22 20:09] #269 closed

[2017-05-23 01:46] kmcurry commented on #268
For me, this appears then corrects

[2017-05-29 21:16] #268 closed